/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */


/* Products
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Product labels
-------------------------------------------------------------- */

/*
.sticker.new {
	background-color:#555;
	color:#fff;
}
.sticker.sale {
	background-color:orange;
	color:#fff;
}
*/

/* Stock indicator on product page (configurable products):
icon background color
-------------------------------------------------------------- */
/*
a.availability-only span.icon { background-color:orange; }
*/


/* Miscellaneous
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Drop-down caret */
/*
.caret {
	opacity:1;
	filter:alpha(opacity=100);
}
*/
#nav > li > a, #mobnav-trigger {
    font-size: 18px;
	font-weight:400 !important;
	
}

#nav > li{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	padding:2px 0 !important;
	}
#nav > li > a{ line-height:28px;}
.form-search .input-text{
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:inset 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:inset 1px 1px 2px 0px rgba(50, 50, 50, 0.5);}
#mobnav-trigger:hover {
background:#ff9500;
color:#FFF;
}
.form-search .button{ background-color:transparent !important;}
/*.header-white-container{ background-color:#fff;margin-top:-22px;position:relative;z-index:999;}*/
#mobnav-trigger:hover .trigger-icon{ color:#FFF;}
#mobnav-trigger.active{background:#ff9500;color:#FFF;}
#mobnav-trigger.active .trigger-icon .line{ background-color:#FFF;}
#mobnav-trigger .trigger-icon .line{ background-color:#FFF;}
#mobnav-trigger:hover .trigger-icon .line{ background-color:#FFF;}

.header-top .grid-full{}
#mini-cart span.icon {
    background-color: #FFFFFF !important;
   /* border: 1px solid #F29400 !important;*/
   display:block;
}
.top-links  span.icon {
    background-color: #FFFFFF !important;
   /* border: 1px solid #F29400 !important;*/
   display:block;
   border-radius:0;
}
.header-primary-container{}
.header-container4{}
.dropdown-toggle.cover > div {
    cursor: default;
	text-align:center;
}
.dropdown-toggle .icon.close-to-text{ margin-right:0;}
.feature-icon-hover{ font-weight:bold; font-size:12px;}


.links > li > a:hover{ color:#FF9500 !important;}
.block-payment-banners{ border:1px solid #bababa;}
.horizontal-section{ display:none;}
.pager .pages li a:hover{ background-color:0 !important; color:#f29400 !important;}

.sorter .view-mode span.grid,
.sorter .view-mode span.list,
.pager .pages li.current
{
	background-color:#FFF;
}
.col-main ul.messages {
    display: none;
}
.header .links-wrapper-separators-left .links > li{ margin-left:0 !important;}
.header .links-wrapper-separators-left .links > li a{ padding:0 !important;}
.header .links-wrapper-separators-left .links > li.first{font-weight:bold;}
.header .links-wrapper-separators-left .links > li.last{ margin-right:8px !important}
.level0.nav-12,
#nav .level0.nav-12 ul.level1,
#nav .level0.nav-12 > .level0-wrapper{ background-color:#c5191a;}
.level0.nav-11,
#nav .level0.nav-11 ul.level1,
#nav .level0.nav-11 > .level0-wrapper{ background-color:#e6590b;}
.level0.nav-10,
#nav .level0.nav-10 ul.level1,
#nav .level0.nav-10 > .level0-wrapper{ background-color: #e0c035;}
.level0.nav-9,
#nav .level0.nav-9 ul.level1,
#nav .level0.nav-9 > .level0-wrapper{ background-color:#00993c;}
.level0.nav-8,
#nav .level0.nav-8 ul.level1,
#nav .level0.nav-8 > .level0-wrapper{ background-color:#009de1;}
.level0.nav-7,
#nav .level0.nav-7 ul.level1,
#nav .level0.nav-7 > .level0-wrapper{ background-color:#064b8b;}
.phone-text{ color:#808080; font-size:14px;}
.shipping-text{ float:right;color:#808080; font-size:12px; line-height:0.8em;}
.bigsale{ text-align:left;}
.bigsale ul li{padding: 3px 0 3px 36px;background: url("../images/list-style.png") no-repeat 13px 4px;}

.links-wrapper-separators-left .links > li > a{ background-image:none;}
#mini-cart { position:relative;z-index:999;}
.links > li, .links > li > a{ line-height:1.2em;}
.header-top, .header .dropdown{line-height:1.2em;}
.dropdown-toggle .cart-label{ display:block;}
#mini-cart .dropdown-toggle .subtotal{ font-weight:normal;}
#mini-cart .checkout-cart {display: block;}
.dropdown-toggle .icon.first{ margin-left:13px;}
.label.amount{ font-weight:normal;}
.header-top p{ line-height:2em; font-size:14px;text-align:center;}
.empty .price{ font-weight:normal;}
.the-slideshow{ margin:-57px auto 0;}
.nav-container{ margin-top:4px;}
.footer-container{ background:url(../images/footer_shadow.png) repeat-x left 18px !important;}
.footer-top{ background:url(../images/footer-bg.png) repeat-y left top !important; height:40px;}
.footer-container .custom-bullet{ line-height:25px;}
.collapsible .block-title{ font-size:12px; font-weight:600; padding-bottom:0;}
.collapsible .block-content{ line-height:25px;}
.footer-copyright a{ display:none;}
.footer-primary .section{ padding-bottom:0;}
body.cms-index-index .main, body.cms-index-defaultindex .main{ padding-bottom:0;}
.cms-home .price-box .old-price,
.cms-home .price-box .save-price{ display:none;}
.cms-home .price-box .price{ text-align: left;color:#808080 !important;font-size:18px; font-weight: normal;}
.img-box-main{ background:#e6e6e6; padding: 0;}

.block-box{ margin-bottom:15px;}
.block-box .block-title{ padding:5px 10px 10px; }
.block-box .block-title strong{font-size:18px;line-height:25px; font-weight:400; color:#FFF;}
.block-box .block-title strong span{}
.block-box .block-content{}
.block-box .block-content .price{font-size:32px;line-height:25px; font-weight:300; color:#FFF;padding:0 10px 15px;}
.block-box .block-content button{ background-color:#053e73; border:0; display:block; width:100%; padding:8px 0; cursor:pointer;}
.block-box .block-content button:hover{ background-color:#043767;}
.block-box .block-content button span{font-size:18px;line-height:25px; font-weight:300; color:#FFF}
.block-box .block-content p.price{padding: 0}


.hardcover{ background-color:#064b8c;}
.ebook{ background-color:#019ee3;}
.ebook button{ background-color:#018dca !important;}
.ebook button:hover{ background-color:#0082bb !important;}
.tabs-panels{ box-shadow:0 0 15px 0 #ddd;}
.products-grid .item .tax-details{display: none;text-align: left;}

.short-description ul{}
.short-description ul li{padding-left: 22px;background: url("../images/list-style.png") no-repeat 0 6px;margin-left: 7px;}

/*-- CUSTOM --*/
#mini-cart{z-index: 1000;}
.header-container4{z-index: 2001;position: relative;}
.header-main{height: 105px;}

#shopping-cart-table tbody td{vertical-align: middle;}

.old-price .price-label,
.old-price .price{font: 100 16px 'open sans';line-height: 18px;color: #888;}

.checkout-steps{text-align: center;}
.checkout-steps li{display: inline-block;margin: 0 4px;width: 290px;line-height: 18px;padding: 8px 0;border: 1px solid #cdcdcd;background: #fff;}
.checkout-steps li span{font: 600 14px 'open sans';color: #808080;}
.checkout-steps li.active{background: #f2f2f2;}
.checkout-steps li.active span{padding-right: 25px;background: url("../images/check-step.png") no-repeat right center;}

.product-view .product-shop .product-name.quickview{display: none;}
.product-view .product-shop .old-price .price{color: #ddd;padding-left: 0;}
.product-view .product-shop .price-box{padding: 0 10px 15px;}
.product-view .product-shop .price-box .price-label{color: #fff;}
.product-view .product-shop .price-box .special-price .price-label{display: none;}
.product-view .product-shop .price-box .special-price .price{font-size: 32px;padding: 0;font-weight: bold;text-shadow: 2px 2px 0 rgba(0,0,0,0.2)}
.product-view .product-shop .price-box .regular-price .price{font-size: 32px;text-shadow: 1px 1px 0 rgba(0,0,0,0.2);padding-left: 0px}
.product-view .product-shop .price-box .save-price .price{font-size: 18px;}
.product-view .product-secondary-column .inner {margin-top: 0}
.product-view .product-shop .green{margin-bottom: 10px;}
.product-view .product-shop .block-content button.disabled span span {color: rgb(129, 129, 129) !important}
#countdonw-title .old-price .price{
    color:#6c6c6c;
}
.fancybox-inner .product-view .product-info-column .product-name.quickview{display: block;}
.fancybox-inner .product-view{width: 660px;display: inline-block;}
.fancybox-inner .product-view .product-img-column{width: 51.57%;margin-top: 0;}
.fancybox-inner .product-view .product-info-column{width: 45.43%;margin: 0 0 0 3%;float: right;text-align: left;}
.fancybox-inner .product-view .product-info-column .product-image{padding: 30px;background: #e6e6e6;}
.fancybox-inner .product-view .price-box{margin-bottom: 10px;}
.fancybox-inner .product-view .price-box .price{font: 600 32px 'open sans';color: #808080;}
.fancybox-inner .product-view .grouped .price-box{padding: 0 10px 10px;}
.fancybox-inner .product-view .grouped .price-box .price{color: #fff;font-weight: 300;padding-left: 0}
.fancybox-inner .product-view .grouped .price-box .price-label{color: #fff;}
.fancybox-inner .product-view .grouped .price-box .old-price .price{font-size: 20px;font-weight: 300;color: #ddd;}
.fancybox-inner .product-view .grouped .price-box .special-price .price{font-size: 32px;font-weight: bold;text-shadow: 2px 2px 0 rgba(0,0,0,0.15)}
.fancybox-inner .product-view .grouped .price-box .save-price .price{font-size: 18px;font-weight: 300;}
.fancybox-inner .product-view .price-box .old-price .price-label,
.fancybox-inner .product-view .price-box .special-price .price-label{display: none;}
.fancybox-inner .product-view .btn-cart{padding: 0;}
.fancybox-inner .product-view .btn-cart span{background: none;}
.fancybox-inner .product-view .hardcover{background: none;display: inline-block;width: 60%;}
.fancybox-inner .product-view .grouped.hardcover{background: #064b8c;display: block;width: 100%;}
.fancybox-inner .product-view .hardcover > .btn-cart{width: 100%;background: #064b8c;}
.fancybox-inner .product-view .hardcover > .btn-cart span{font: 600 14px 'open sans';color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.2);line-height: 16px;padding: 3px 10px;height: auto;}
.fancybox-inner .product-view .goto-product{float: right;text-align: right;font: 300 16px 'open sans';color: #808080;text-decoration: underline;margin-right: 16px;}
.catalog-category-view .fancybox-wrap,
.catalogsearch-result-index .fancybox-wrap{top: 50%!important;left: 50%!important;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);max-height: 86%;overflow-y: auto;}
.product-view .product-img-column .slider-arrows3 .owl-controls .owl-buttons div{background-size: 34px auto;}
.product-view .product-img-column .slider-arrows3 .owl-controls .owl-buttons div.owl-prev{background-position: 10px 0;}
.product-view .product-img-column .slider-arrows3 .owl-controls .owl-buttons div.owl-next{background-position: -15px 0;}
.author{display: inline-block;width: 100%;position: relative;box-sizing: border-box;-webkit-box-sizing: border-box;padding-left: 130px;}
.author .author-image{width: 115px;position: absolute;top: 0;left: 0;}
.product-view .price-box .old-price,.product-view .price-box .special-price {display: inline-block;}

.img-box .more-images{}
.page-banners{display: inline-block;width: 100%;}
.page-banners ul li{
    float: left;
    
}

#product-tabs .slider-arrows1 .owl-controls .owl-buttons{position: static;}
#product-tabs .slider-arrows1 .owl-controls .owl-buttons div{position: absolute;width: 30px;height: 60px;top: 50%;margin: -30px 0 0;background-size: 70px auto;background-position: 0 0;}
#product-tabs .slider-arrows1 .owl-controls .owl-buttons .owl-next{left: auto;right: 0;background-position: -40px 0;}

#product-tabs .tabs-panels .std ul li{margin-left: 10px;padding-left: 22px;background: url("../images/list-style.png") no-repeat 0 6px;}
#product-tabs .tabs-panels .std p span{font-size: 15px!important;}

.product-view .short-description .std ul.dots,
.product-view .box-tabs .std ul.dots,
.product-view .box-tabs .panel#system_require_tab .std ul{margin-left: 25px;}
#product-tabs .tabs-panels .std ul.dots li,
.product-view .box-tabs .panel#system_require_tab .std ul li{list-style: disc outside;padding: 0;margin: 0;background: none;}

/*.block-related .owl-item .product{float: left;width: 25%;padding: 0 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -ms-box-sizing: border-box;}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-prev{background-position: 0 0;margin-left: -38px;}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-prev:hover{background-position: 0 -87px}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-next{background-position: -60px -3px;margin-right: -38px;}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-next:hover{background-position:-60px -88px;}
.block.block-related.block-related-thumbnails{padding: 0 20px;}
.catalog-product-view .block-related-thumbnails .product-details{margin-left: 0;}
.catalog-product-view .block-related .product-details h3 a,
.catalog-product-view .block-related .product-details .price-box .price
{color: #808080;font-size: 16px;font-weight: bold;}*/

.catalog-product-view .block-related .owl-buttons{right: 0 !important;}
.cms-home .slider-arrows2 .owl-controls .owl-buttons div{height: 80px;border-radius: 0;-webkit-border-radius: 0;background-color: transparent;}
.cms-home .slider-arrows2 .owl-controls .owl-buttons div:hover{background-color: transparent;}
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-prev,
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-prev:hover{background-position: 0 0;}
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next,
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next:hover{background-position: -60px 0;}

.main-layout .cart .item-image{float: left;}
.main-layout .cart .cart-table .item-name{display: block;margin-left: 90px;}
.main-layout .cart .cart-table .additional-info .text{display: block;margin: 0 0 4px;}
.main-layout .cart .item-options dt,
.main-layout .cart .item-options dd{font-size: 12px;}

.itemslider-wrapper > h2{font-size: 18px;color: #333;font-weight: 700;}

.form-list .input-box{position: relative;}

.colout-area{display: inline-block;width: 100%;}
.colout-area .user-vote{float: left;width: 50%;}
.colout-area .user-vote h3{font-size: 24px;font-weight: bold;color: #4c4c4c;padding-bottom: 5px;border-bottom: 1px solid #4c4c4c;}
#user-vote-content .item{font-size: 16px;color: #4c4c4c;line-height: 20px;}
#user-vote-content .item-title{font-size: 18px;color: #333;padding: 5px 0 15px;}
#user-vote-content .rate-slogan .rating-box{display: inline-block;vertical-align: top;}
#user-vote-content .rate-slogan .slogan{display: inline-block;vertical-align: top;margin: 2px 0 0 5px;font-size: 16px;color: #4c4c4c;line-height: 22px;}
#user-vote-content .user-date{margin: 5px 0 10px;}
#user-vote-content .verify-text{color: #ff9500;margin: 15px 0 3px;}
.colout-area > a{float: right;width: 47%;}

/*-- MY ACCOUNT --*/
.account-create .name-firstname #firstname{width: 190px;}

.box-account .box-head{border: none;margin: 0;padding: 30px 0 20px;}
.box-account .box-head h2{font: 600 36px 'open sans';color: #4c4c4c;}
.box-info form{padding: 30px 40px;border: 1px solid #cdcdcd;display: block;}
.box-info .fieldset{margin-bottom: 0;}
.box-info .form-list .name-prefix,
.box-info .form-list .customer-name-prefix .name-firstname,
.box-info .form-list .customer-name-middlename .name-firstname,
.box-info .form-list .field{width: 100%;}
.box-info .form-list label{font: 600 20px 'open sans';line-height: 24px;color: #4c4c4c;width: 170px;float: none;display: inline-block;vertical-align: middle;margin: 0;}
.box-info .form-list label.required em{display: none;}
.box-info .form-list .input-box{clear: none;display: inline-block;vertical-align: middle;}
.box-info .form-list select,
.box-info .form-list input.input-text{height: 30px;border: 1px solid #cdcdcd;padding: 0 10px;}
.box-info .form-list .customer-dob input.input-text + label{display: none;}
.box-info .form-list input[type=checkbox] + label{width: auto;font-size: 14px;}
.box-info .buttons-set{margin: 0;padding-left: 189px;}
.box-info .buttons-set p.required{display: none;}
.box-info .buttons-set button{width: 450px;height: 40px;float: none;}
.box-info .buttons-set button span{background: none;float: none;display: inline;font: 600 18px 'open sans';}
.box-info .col2-set{margin-top: 40px;display: inline-block;width: 100%;}
.box-info .col2-set .box-title{float: left;width: 26.12%;border: none;text-align: center;}
.box-info .col2-set .box-title h3{float: none;font: 600 20px 'open sans';color: #4c4c4c;}
.box-info .col2-set .box-content{float: right;width: 73.88%;}
.box-info .col2-set .box-content .col-1,
.box-info .col2-set .box-content .col-2{float: none;width: 100%;border: none;margin-bottom: 50px;}
.box-info .col2-set .box-content h4{color: #666;font-size: 18px;}
.box-info .col2-set .box-content address{font: 300 18px 'open sans';color: #808080;}
.customer-ads-block{border: 1px solid #cdcdcd;background: #f2f2f2;position: relative;}
.customer-ads-block:before{width: 150px;height: 150px;background: url("../images/vip-ic.png") no-repeat;position: absolute;top: -16px;right: 30px;content: "";}
.customer-ads-block h2{font: 600 28px 'open sans';color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.2);line-height: 30px;padding: 15px 30px;background: #87a7c6;}
.customer-ads-block h3{font: 600 24px 'open sans';color: #4d4d4d;line-height: 30px;padding: 10px 30px;}
.customer-ads-block ul{padding: 0 30px 20px;}
.customer-ads-block ul li{font: 300 18px 'open sans';line-height: 22px;padding: 13px 0 13px 35px;color: #4d4d4d;background: url("../images/check-step.png") no-repeat left center;}

#myproducts .related-products{font-size: 13px;text-align: center;vertical-align: middle;}
#myproducts .download,
#myproducts .date,
#myproducts .autocode{text-align: center;vertical-align: middle;}
#myproducts .date span{display: block;font-size: 14px;text-decoration: underline;font-weight: 700;}
#myproducts .related-products img{display: block;margin: 0 auto 10px;}
#myproducts .disabled {opacity: 0.2}

.cms-home .std .slider-arrows1 .owl-controls .owl-buttons{position: static;}
.cms-home .std .slider-arrows1 .owl-controls .owl-buttons div{top: 24%;position: absolute;}
.cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-next{right: 0;left: auto;}

#nav > li{position: relative;}
#nav .level-top .level0-wrapper{top: 37px;}
#nav .level-top .level0-wrapper .level0-wrapper2{padding: 0;}
#nav .level-top .level0-wrapper .nav-block{margin: 0;}
#nav ul.level0 > li{width: 100%;float: none;padding: 0;position: relative;}
#nav ul.level0 > li.parent{padding-right: 10px;box-sizing: border-box;-webkit-box-sizing: border-box;}
#nav ul.level0 > li.parent:before{
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 4px 0 4px 5px;
    content: "";
    height: 0;
    margin: -4px 0 0;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 0;}
#nav ul.level0 > li > a{margin: 0;text-align: left;padding: 5px 5px 5px 8px;color: #fff;}
#nav ul.level0 > li:hover{color: #fff;background: rgba(0,0,0,0.15);}
#nav ul.level1{position: absolute;top: 0;left: 100%;display: none;padding: 0;border-left: 1px solid rgba(0,0,0,0.1)}
#nav li.level1:hover > ul.level1{display: block;}
#nav ul.level1 li a{color: #fff;}

.block-layered-nav{border: 1px solid #d6d6d6;}
.block-layered-nav .block-title{
    background: #1fbfc5;
    background: -moz-linear-gradient(top,  #1fbfc5 0%, #19a1a7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1fbfc5), color-stop(100%,#19a1a7));
    background: -webkit-linear-gradient(top,  #1fbfc5 0%,#19a1a7 100%);
    background: -o-linear-gradient(top,  #1fbfc5 0%,#19a1a7 100%);
    background: -ms-linear-gradient(top,  #1fbfc5 0%,#19a1a7 100%);
    background: linear-gradient(to bottom,  #1fbfc5 0%,#19a1a7 100%);
    padding: 3px 20px;
    font: normal 14px Arial;
    color: #fff;
    line-height: 22px;
}
.block-layered-nav .currently{background: none;margin: 10px 0 0;}
.block-layered-nav .currently .block-subtitle{display: none;}
.block-layered-nav .currently ol{background: none;padding: 0 19px;}
.block-layered-nav .currently ol li{display: inline-block;padding: 4px 4px 4px 10px;border-radius: 3px;-webkit-border-radius: 3px;box-shadow: 0 0 2px rgba(0,0,0,0.3);-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    background: #1dc971;
    background: -moz-linear-gradient(top,  #1dc971 0%, #02af56 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1dc971), color-stop(100%,#02af56));
    background: -webkit-linear-gradient(top,  #1dc971 0%,#02af56 100%);
    background: -o-linear-gradient(top,  #1dc971 0%,#02af56 100%);
    background: -ms-linear-gradient(top,  #1dc971 0%,#02af56 100%);
    background: linear-gradient(to bottom,  #1dc971 0%,#02af56 100%);
}
.block-layered-nav dl{padding: 0 20px;}
.block-layered-nav dd{padding: 0;}
.block-layered-nav dt{padding: 7px 0 5px;}
.block-layered-nav dd li{margin: 0 0 8px;}
.block-layered-nav dd li,
.block-layered-nav dd li a{color: #404040;}
.block-layered-nav dd li:hover,
.block-layered-nav .currently ol li:hover{background-position: 0 0;}
.block-layered-nav .currently ol li .label{display: none;}
.block-layered-nav .currently ol li span{font: normal 12px Arial;color: #fff;line-height: 16px;}
.block-layered-nav .currently .btn-remove{width: 100%;height: 16px;background: url("../images/remove-filter.png") no-repeat;padding-left: 4px;text-align: right;}
.block-layered-nav .actions{padding: 5px;display: none;}

#my-orders-table th,
#myproducts th{font: 600 20px 'open sans';color: #4c4c4c;border: none;}
#my-orders-table td,
#myproducts td{font: 300 18px 'open sans';color: #808080;border: 1px solid #cdcdcd;border-left: none;border-right: none;}
#myproducts th:first-child,
#my-orders-table th:first-child{padding-left: 20px;}
#myproducts td:first-child,
#my-orders-table td:first-child{border-left: 1px solid #cdcdcd;padding-left: 20px;}
#myproducts td:last-child,
#my-orders-table td:last-child{border-right: 1px solid #cdcdcd;}
#myproducts td.article h4{font-size: 20px;font-weight: 600;color: #4c4c4c;}
#myproducts td a,
#my-orders-table td a{font-weight: 600;text-decoration: underline;}

.my-account > h2{font: 600 36px 'open sans';color: #4c4c4c;margin: 25px 0;}

.page-banners > .item{float: left;width: 33.33%;padding: 80px 15px 0;box-sizing: border-box;-webkit-box-sizing: border-box;text-align: center;}
.page-banners > #fotografie{background: url("../images/fotografie-ic.png") no-repeat center 10px;}
.page-banners > #druckerei{background: url("../images/druckerei-ic.png") no-repeat center 10px;}
.page-banners > #office_{background: url("../images/office-ic.png") no-repeat center 10px;}
.page-banners > .item h2{font-weight: 700; }
.page-banners > .item .content-item{font-size: 16px;line-height: 20px;}

@media screen and (max-width: 767px) {
    .catalog-category-view .fancybox-wrap{width: 90%;box-sizing: border-box;-webkit-box-sizing: border-box;}
    .fancybox-inner .product-view{width: 100%;}
    .fancybox-inner .product-view .product-img-column,
    .fancybox-inner .product-view .product-info-column{width: 100%;float: none;margin: 0 0 10px;}
    /*.block-related .owl-item .product{width: 100%}*/
}
.slogan,.item-title a{font-weight: bold; color: #808080;}
.item-title a{color: #000;}
.user-name{color: #009de1;}
.product-shop-ngrouped .product-type-data .price-box{ display:none;}
.grid12-2{width:18%;}
.products-grid.size-s .preistipp{width:65px;height:65px;}
.green{font-size: 16px; font-weight: bold; color: green;}
.link-pdf{padding: 15px 0;}
.link-pdf ul li a{color:#088dc5;font-size: 16px;line-height: 24px;}
.link-pdf ul li a:hover{text-decoration: underline;}
.link-pdf ul li a:before{
    font-size: 1.3rem;
    content: '»';
    width: 0.75em;
    height: 0.95em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
    margin-top: -0.6em;
    text-align: center;
}

/* Product Press tab*/
.pressContentTable tr {
    display: block;
    margin-bottom: 20px;
}
.pressContentTable tr td {padding-left: 15px;}
.pressContentTable tr td .pressImageTD {width:110px;}
.pressContentTable tr td .pressDescriptionTD a {width:110px;}

.paypal-express-review{color: #4c4c4c;}
span.more-info {color: #808080;display: block;font: 100 14px "open sans";text-align: right;}
#express-review-checkout-cart .page-title h2{font: normal 32px 'open sans';color: #393939;}
#express-review-checkout-cart .data-table tr.even{background: none;}
#express-review-checkout-cart .cart-table-wrapper{margin: 20px 0 0;}
#express-review-checkout-cart .cart tr th,
#express-review-checkout-cart .cart tr td{padding: 10px;border-bottom: 1px solid #cdcdcd;box-sizing: content-box;}
#express-review-checkout-cart .cart tr th{padding-top: 0;border: 1px solid #fff;border-bottom: 1px solid #cdcdcd;font: 700 20px 'open sans';color: #4c4c4c;line-height: 20px;vertical-align: top;}
#express-review-checkout-cart .cart tr th:last-child{padding-right: 40px;}
#express-review-checkout-cart .cart tr td{border-right: none;}
#express-review-checkout-cart .cart .cart-table tr td.last{border-right: 1px solid #cdcdcd;text-align: right;width: 10%;padding-right: 40px;vertical-align: middle;}
#express-review-checkout-cart .cart tr td:first-child{border-left: 1px solid #cdcdcd;padding-left: 40px;}
#express-review-checkout-cart .cart tr td.col-total{vertical-align: top;}
#express-review-checkout-cart .cart .item-image{display: inline-block;width: 90px;vertical-align: middle;}
#express-review-checkout-cart .cart .item-name{display: inline-block;vertical-align: middle;}
#express-review-checkout-cart .cart td:first-child,
#express-review-checkout-cart .cart .product-name{margin-bottom: 10px;}
#express-review-checkout-cart .cart .item-name a{font: 600 20px 'open sans';color: #4c4c4c;}
#express-review-checkout-cart .cart td span.text{font-weight: 100;font-size: 12px;color: #4d4d4d;display: block;}
#express-review-checkout-cart .cart .price{font: 600 20px 'open sans';color: #808080;}
#express-review-checkout-cart .cart .discount-form label,
#express-review-checkout-cart .cart tr.last td h2{width: 510px;font-size: 20px;font-weight: 600;color: #4c4c4c;margin: 0;}
#express-review-checkout-cart .cart .discount-form label,
#express-review-checkout-cart .cart .discount-form .input-box{display: inline-block;vertical-align: middle;}
#express-review-checkout-cart .cart .discount-form .input-box .validation-advice{font-size: 12px;font-weight: normal;color: red;}
#express-review-checkout-cart .cart .discount-form .input-text{width: 250px;height: 35px;}
#express-review-checkout-cart .cart .discount-form .coupon-note{display: block;text-align: center;font-weight: 100;font-size: 14px;text-decoration: underline;color: #808080;margin-top: 2px;}
#express-review-checkout-cart .cart #discount-amount .price{color: #c5191a;}
#express-review-checkout-cart .cart tbody tr.last td .text{font-weight: 100;font-size: 16px;color: #808080;width: 510px;display: inline-block;}
#express-review-checkout-cart .cart tr.last td select{width: 250px;}
#express-review-checkout-cart .cart tfoot td{border: none!important;text-align: left;}
#express-review-checkout-cart .cart .btn-remove{display: none;}
#express-review-checkout-cart .cart .btn-update{display: inline-block;vertical-align: middle;float: none;font: 300 14px 'open sans';color: #808080;text-decoration: underline;background: none;text-indent: 0;width: auto;height: auto;cursor: pointer;}

#express-review-checkout-cart .cart .cart-right-column{width: 100%;}
#express-review-checkout-cart .cart-collaterals{margin-top: 0;}
#express-review-checkout-cart .cart .totals{background: none;}
#express-review-checkout-cart .cart .totals-inner{padding: 0 40px 0 0;background: none;}
#express-review-checkout-cart .cart .totals-inner td,
#express-review-checkout-cart .cart .totals-inner td:first-child{border: none;}
#express-review-checkout-cart .cart .totals td{vertical-align: bottom;padding: 5px 0 0 40px;font-size: 16px;font-weight: 100;color: #808080;}
#express-review-checkout-cart .cart .totals td .price{font-weight: 100;color: #808080;font-size: 16px;}
#express-review-checkout-cart .cart .totals tfoot td strong{color: #4c4c4c;}
#express-review-checkout-cart .cart .totals tfoot td .price{color: #4d4d4d;font-weight: 700;}

.paypal-express-review .col-main > .page-title{padding: 0 40px;}
.paypal-express-review .breadcrumbs{display: none;}
.paypal-express-review .checkout-agreements{padding: 10px 40px;}
.paypal-express-review input[type=radio],
.paypal-express-review input[type=checkbox]{visibility: hidden;position: absolute;opacity: 0;}
.paypal-express-review input[type=radio] + label,
.paypal-express-review input[type=checkbox] + label{position: relative;padding-left: 31px;display: inline-block;font: 100 20px 'open sans';color: #4d4d4d;line-height: 29px;}
.paypal-express-review input[type="radio"] + label::before,
.paypal-express-review input[type="checkbox"] + label::before{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    cursor: pointer;
    background-color: #efefef;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
}
.paypal-express-review input[type=radio]:checked + label:after,
.paypal-express-review input[type=checkbox]:checked + label:after{width: 10px;height: 10px;position: absolute;top: 10px;left: 3px;content: "";background: #009a3c;}
.paypal-express-review .checkout-agreements .agree .checkout-term,
.paypal-express-review .checkout-agreements .agree .conditions{
    color: #064b8b;
    margin-left: 5px;
    text-decoration: underline;
}
.paypal-express-review .comment-block{margin: 30px 0 40px;padding: 0 40px;}
.paypal-express-review .comment-block h3{font-weight: 100;font-size: 20px;line-height: 29px;border: none;padding: 0;margin-bottom: 10px;}
.paypal-express-review .comment-block textarea{width:100%;height: 110px;resize: none;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
    -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
    padding: 10px;
}
.paypal-express-review #review-please-wait{clear:both;}
.customer-info{width: 100%;margin-bottom: 40px;}
.customer-info tr{border: 1px solid #cdcdcd;}
.customer-info td{padding: 10px 10px 20px;font: normal 14px 'open sans';color: #4c4c4c;}
.customer-info td:first-child{text-transform: uppercase;color: #808080;}
.customer-info td span{display: block;}
.customer-info td span.button{cursor: pointer;text-decoration: underline;}
.review-info{padding: 0 30px;}
.review-info .customer-info tr{border: none;}
.review-info .customer-info td{padding: 10px;font: 300 18px 'open sans';text-transform: none;}
.review-info .customer-info td span{color: #808080;}
.review-info .customer-info td span.button{font-weight: 600;text-decoration: none;line-height: 20px;width: 250px;display: block;background-color: #f2f2f2;height: 40px;text-align: center;padding: 10px 0;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    box-shadow: 1px 1px 2px rgba(0,0,0,.25);
}
.review-info .customer-info td span.button:hover{background: #eee;}
.review-info .customer-info td:first-child{color: #4c4c4c;font-size: 20px;font-weight: 600;width: 10%;}
.review-info .customer-info td:last-child{width: 10%;}

.review-info .cart-table td:last-child{text-align: right;padding-right: 40px;border-right: 1px solid #cdcdcd;}

#order_review_form .checkout-agreements{padding: 30px 40px 0;}
#order_review_form .checkout-agreements .agree input[type=checkbox] + label,
#order_review_form .checkout-agreements .agree .checkout-term{font-weight: 100;}
#order_review_form .checkout-agreements li{margin-bottom: 10px;}
#order_review_form .checkout-agreements .agree,
#order_review_form .checkout-agreements .agree a{font-weight: 100;color: #4d4d4d;font-size: 20px;line-height: 29px;}
#order_review_form .checkout-agreements .agree .checkout-term,
#order_review_form .checkout-agreements .agree .conditions{text-decoration: underline;margin-left: 5px;color: #064b8b;}
#order_review_form input[type=radio],
#order_review_form input[type=checkbox]{visibility: hidden;position: absolute;opacity: 0;}
#order_review_form input[type=radio] + label,
#order_review_form input[type=checkbox] + label,
#order_review_form input[type=checkbox] + a.view-agreement{position: relative;padding-left: 31px;display: inline-block;font: 600 20px 'open sans';color: #4d4d4d;line-height: 29px;}
#order_review_form input[type=radio] + label:before,
#order_review_form input[type=checkbox] + label:before,
#order_review_form input[type=checkbox] + a.view-agreement:before{width: 16px;height: 16px;width: 16px;position: absolute;top: 7px;left: 0;content: "";cursor: pointer;
    background-color: #efefef;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
}
#order_review_form input[type=radio]:checked + label:after,
#order_review_form input[type=checkbox]:checked + label:after,
#order_review_form input[type=checkbox]:checked + a.view-agreement:after{width: 10px;height: 10px;position: absolute;top: 10px;left: 3px;content: "";background: #009a3c;}
#review-buttons-container .btn-checkout{float: right;clear: both;width: 378px;height: 40px;background: #009a3c!important;margin: 20px 0 0;}
#review-buttons-container .btn-checkout span,
#review-buttons-container .btn-checkout span span{background: none!important;display: inline;font-weight: 600;font-size: 18px;text-shadow: none;background: none;height: auto;line-height: 40px;}

#cms-ajax-content{text-align: left; color: #808080;}

.customer-account-login .breadcrumbs,
.customer-account-index .breadcrumbs,
.customer-account-create .breadcrumbs{display: none;}

#cboxContent #cboxNext{background-size: 36px auto;background-position: -16px 0;background-color: transparent;}
#cboxContent #cboxPrevious{background-size: 36px auto;background-position: 10px 0;background-color: transparent;}
.download-type-free,.download-type-vip,.download-type-login,.download-type-code{position:absolute;top:15px;right:0;width:60px;height: 60px;display: block;background-size: 60px auto;}
.download-type-free{background-image: url("../images/free-ic.png");}
.download-type-vip{background-image: url("../images/vip-ic.png");}
.download-type-login{background-image: url("../images/login-ic.png");}
.download-type-code{background-image: url("../images/code-ic.png");}
.top-category-download{padding: 24px 0 24px 46px;border: 1px solid #4c4c4c;margin: 20px 0 30px;}
.top-category-download h2{font-weight: 600;font-size: 22px;color: #4c4c4c;}
.top-category-download ul{display: inline-block;width: 100%;}
.top-category-download ul li{float: left;width: 24.25%;padding: 5px 0 5px 1%;}
.top-category-download ul li:nth-child(4n+1){padding-left: 0;clear: left;}
.top-category-download ul li a{font-size: 14px;font-weight: 600;color: #4c4c4c;line-height: 18px;position: relative;padding-left: 16px;}
.top-category-download ul li a:before{width: 0;height: 0;border-width: 7px 0 7px 6px;border-style: solid;border-color: transparent transparent transparent #084b8f;content: "";position: absolute;top: 3px;left: 0;}
.top-category-download ul li a:hover{text-decoration: underline;}

.popup-download{padding: 20px 10px 30px;}
.popup-download h2{font-size: 22px;font-weight: 600;color: #4d4d4d;text-align: left;}
.popup-download .list-download{display: inline-block;width: 100%;vertical-align: top;}
.popup-download .sub-download-box{display: inline-block;vertical-align: top;width: 164px;padding: 0 5px;box-sizing: border-box;-webkit-box-sizing: border-box;}
.popup-download .sub-download-box p{font-size: 14px;font-weight: 300;color: #808080;line-height: 18px;}
.popup-download .icon-download{height: 60px;background-position: top center;background-repeat: no-repeat;font-size: 0;text-indent: -999em;margin-bottom: 8px;}
.popup-download .free-download-icon{background-image: url("../images/free-ic.png");}
.popup-download .login-download-icon{background-image: url("../images/login-ic.png");}
.popup-download .vip-download-icon{background-image: url("../images/vip-ic2.png");}
.popup-download .code-download-icon{background-image: url("../images/code-ic.png");cursor: pointer;}
.popup-download .download-link a{font-weight: 600;color: #4c4c4c;text-decoration: underline;}
.popup-download .form-code-download{clear: both;padding-top: 20px;float: right;width: 25%;}
.popup-download .form-code-download input.input-text{width: 100%;margin-bottom: 10px;}

.filesize-box,
.betriebssystem-box,
.total-downloaded{padding-top: 10px;}
.filesize-box p,
.betriebssystem-box p,
.total-downloaded p{font-size: 15px;line-height: 22px;font-weight: 400;color: #808080;}
.filesize-box p:first-child,
.betriebssystem-box p:first-child,
.total-downloaded p:first-child{font-weight: 700;margin-bottom: 5px;}
.total-downloaded + .btn-cart{margin-top: 10px;width: 100%;}
.total-downloaded + .btn-cart span{background: #009a3c;text-transform: none;font-size: 14px;}
.total-download-info span{display: inline-block;vertical-align: top;margin-right: 3px;box-shadow: 1px 1px 3px rgba(0,0,0,0.3) inset;-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3) inset;font-size: 20px;font-weight: 300;padding: 6px 5px;}

#countdonw-title{padding: 15px 0;font-size: 16px;}
#countdonw-title strong{font-size: 24px;}
#countdown{text-align: left;display: inline-block;width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;position: relative;padding-bottom: 24px;}
#countdown .countdown-amount > span{text-align: center;display: inline-block;font-size: 24px;font-weight: 300;line-height: 1.4;padding: 5px;width: 18px;box-shadow: 2px 2px 4px rgba(0,0,0,0.3) inset;-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3) inset;margin-right: 5px;}
#countdown .t-colon{font-size: 24px;margin-right: 5px;font-weight: 300;}
#countdown #day-period,
#countdown #hour-period,
#countdown #minute-period,
#countdown #second-period{font-size: 14px;font-weight: 300;position: absolute;bottom: 0;transform: translate(-50%,0);-webkit-transform: translate(-50%,0);}
#countdown #day-period{left: 33px;}
#countdown #hour-period{left: 109px;}
#countdown #minute-period{left: 185px;}
#countdown #second-period{left: 262px;}
.box-additional .item .price-box .old-price .price-label, .box-additional .item .price-box .special-price .price-label{display: none;}
.cart-item-coa{float:none;clear: both;}
.cart-item-coa a{display:block; text-decoration: underline; color: #808080; float: none;vertical-align:middle; font: 300 14px 'open sans'}
.cart-item-coa a:hover{color: #808080!important;}

.cookieAdvice {
    background: #bebebe;
    padding: 5px 0;
}
.cookieAdvice .posWrapper {
    height: 100%;
    width: 1000px;
    display: table;
    margin: 0 auto;
}
.cookieAdvice .posWrapper .cookieClose, .cookieAdvice .posWrapper .cookieTxt {
    display: table-cell;
    vertical-align: top;
}
.cookieAdvice a, .cookieAdvice p, .cookieAdvice span {
    color: #fff;
}
.cookieAdvice a {
    text-decoration: underline;
}
.cookieAdvice .posWrapper .cookieTxt {
    text-align: justify;
}
.cookieAdvice .posWrapper .cookieClose {
    width: 110px;
}
.cookieAdvice .closeButton {
    display: block;
    font-size: 20px;
    line-height: 18px;
    float: right;
    color: #404040;
    margin-left: 5px;
    text-decoration: none;
}
.cookieAdvice .cookieClose .right {
    display: block;
    float: right;
    text-decoration: underline;
}

.nl-popup .nl-popup-main {
    background:url('../images/newsletter-popup.jpg') no-repeat;
    width: 665px;
    height: 632px;
}
#nl-popup-container {
    background-color: white;
    margin: auto;
    padding: 30px;
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 8px #333333;
    z-index: 99999;
    display: none;
    left: 50%;
    margin-left: -362px;
    margin-top: 20px;
}
#nl-overlay {
    background: url('../images/newsletter-overlay.png') repeat;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
.nl-popup-head .close {
    display: block;
    padding-top: 5px;
    float: right;
    background: url('../images/newsletter-close.jpg') no-repeat right 0px;
    width: 105px;
    height: 30px;
    margin-right: 8px;
    font-size: 14px;
    color: #b7b7b7;
}
.nl-inner {
    color: #444444;
    padding: 365px 20px 0 25px;
    font-size: 14px;
}
.nl-left {
    float: left;
}
.nl-right {
    float: right;
}
.nl-left h3 {
    font-size: 18px;
    margin-bottom: 20px;
}
.nl-left ul {
    margin-left: 24px;
}
.nl-left li {
    height: 20px;
}
.nl-footer {
    margin-top: 50px;
}
.nl-top {
    font-size: 12px;
    line-height: 15px;
}
.nl-bot {
    font-size: 9px;
    line-height: 10px;
    margin-top: 20px;
}
.nl-bot span {
    color: red;
}
#nl_popup_form > * {
    display: block;
}
#nl_popup_form input {
    background-color: #fff !important;
    border: 1px solid #cdcdcb !important;
    width: 250px;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: black;
    padding: 0 15px;
}
#nl_popup_form ::-webkit-input-placeholder {
    color: black;
}
#nl_popup_form :-moz-placeholder {
    color: black;
}
#nl_popup_form ::-moz-placeholder {
    color: black;
}
#nl_popup_form :-ms-input-placeholder {
    color: black;
}
#nl_popup_form button {
    margin-top: 18px;
}
#nl_popup_form button span span {
    width: 250px;
    font-size: 22px;
    font-weight: normal;
    height: 46px;
    line-height: 46px;
    padding: 0;
}
#nl_popup_form .validation-advice {
    width: 235px;
    margin-left: 15px;
}
.nl-top a {text-decoration: underline; color: #444;}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
#newsletterForm .info-text-title{
    font-weight: bold;
    color: rgb(76, 76, 76);
}
#newsletterForm .info-text li{
    padding: 3px 0 3px 36px;
    background: url("../images/list-style.png") no-repeat 13px 4px;
}
.ext-advancetage {
    margin-left:-12px;
}
#newsletterForm input[type=radio],
#newsletterForm input[type=checkbox]{visibility: hidden;position: absolute;opacity: 0;}
#newsletterForm input[type=radio] + label,
#newsletterForm input[type=checkbox] + label{position: relative;padding-left: 31px;display: inline-block;font: 600 20px 'open sans';color: #4d4d4d;line-height: 29px;}
#newsletterForm input[type=radio] + label:before,
#newsletterForm input[type=checkbox] + label:before{width: 16px;height: 16px;width: 16px;position: absolute;top: 7px;left: 0;content: "";cursor: pointer;
    background-color: #efefef;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
}
#newsletterForm input[type=radio]:checked + label:after,
#newsletterForm input[type=checkbox]:checked + label:after{width: 10px;height: 10px;position: absolute;top: 10px;left: 3px;content: "";background: #009a3c;}
.newsletter-subscribe-input .input-box label {
    width: 550px!important;
    position: relative!important;
    display: inline-block!important;
    text-align: left!important;
    font-family: "Open Sans", georgia, serif;
    font-size: 12px!important;
    font-weight: normal !important;
    line-height: 20px!important;
}
/*----- RESPONSIVE
-------------------------------------------------*/
@media screen and (max-width: 1024px) {

    .col1-layout .col-main{margin-left: 0;margin-right: 0;}
    .fancybox-inner .product-view,
    .fancybox-inner .product-view .btn-cart{width: 100%;}
    .fancybox-inner .product-view .product-img-column img{max-width: 100%;height: auto;}
    
}
@media screen and (max-width: 1023px) {
    #countdown .countdown-amount > span{width: 12px;font-size: 16px;margin-right: 3px;}
    #countdown .t-colon{margin-right: 3px;}
    #countdown #day-period,
    #countdown #hour-period,
    #countdown #minute-period,
    #countdown #second-period{font-size: 11px;}
    #countdown #day-period{left: 24px;}
    #countdown #hour-period{left: 85px;}
    #countdown #minute-period{left: 140px;}
    #countdown #second-period{left: 202px;}

    .fancybox-inner .product-view .price-box .old-price .price{font-size: 24px;margin-right: 8px;}
}
@media screen and (max-width: 959px) {
    #mini-cart{max-height: 5em;margin: -8px 0 12px;}
    #mini-cart .dropdown-toggle.cover > div{text-align: right;}
    #mini-cart span.icon{display: inline-block;margin: 0;}
    .top-links{text-align: right;}
    .top-links span.icon{display: inline-block;}
    .top-links .links > li{float: right;}
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-prev{margin-left: -15px;}
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-next{margin-right: -15px;}

    #nav > li{width: 115px;}

    #my-orders-table td, #myproducts td{font-size: 14px;}

    .catalog-product-view .col-main .share_toolbox{margin: -10px 0 0;}

    .header .user-menu{width: 13%;}
}

@media screen and (max-width: 767px) {
    .newsletter-wrapper{margin:0;left:0;}
    .bigsale{text-align: center;display: none;}
    .bigsale ul li{display: inline-block;vertical-align: top;padding: 5px 5px 5px 36px;margin: 0;}
    .header-main{height: auto;}
    #mini-cart{margin: 0 15px 0 0;max-height: none;}
    .top-links{vertical-align: top;}
    .header-top{padding-top: 10px;padding-bottom: 10px;}
    .header-top p{font-size: 10px;line-height: 14px;}
    .phone-text{display: block;text-align: center;}
    .user-menu{margin-bottom: 0;text-align: right;}
    .cms-home .slider-arrows2 .owl-controls .owl-buttons div{width: 25px;height: 40px;background-size: 50px auto;opacity: 1;}
    .cms-home .slider-arrows2 .owl-controls .owl-buttons div.owl-prev{left: 5px;top: 50%;margin: -20px 0 0;right: auto;bottom: auto;}
    .cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next,
    .cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next:hover{background-position: -30px 0;right: 0;top: 50%;left: auto;bottom: auto;margin: -20px 0 0;}
    .page-banners > .item{width: 100%;padding: 80px 0 20px;}
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div{width: 25px;height: 40px;background-size: 50px auto;}
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-prev{left: 0;top: 27%;right: auto;bottom: auto;margin: 0;}
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-next{right: 0;top: 27%;bottom: auto;left: auto;margin: 0;background-position: -30px 0;}
    .colout-area .user-vote,
    .colout-area > a{width: 100%;float: none;padding: 0 0 30px;}

    .catalog-product-view .col-main .share_toolbox{margin: -20px 0 20px;}
    .product-view .box-reviews .form-add .data-table th,
    .product-view .box-reviews .form-add .data-table td{padding: 6px 3px;font-size: 12px;font-weight: normal;}


    .paypal-express-review .col-main > .page-title,
    .paypal-express-review .checkout-agreements,
    .paypal-express-review .comment-block,
    .review-info{padding-left: 0;padding-right: 0;}
    .review-info .customer-info td{display: block;}
    #express-review-checkout-cart .cart tr td:first-child{padding-left: 0;text-align: left!important;}
    #express-review-checkout-cart .cart .cart-table tr td.last{padding-right: 0;width: 100%;}
    #express-review-checkout-cart .cart tfoot td{text-align: left!important;}
    #express-review-checkout-cart .cart .totals-inner{padding-right: 0;}
    #review-buttons-container .btn-checkout{width: 100%;}
    
    .box-info form{padding: 20px 10px;}
    .my-account .form-list label,
    .box-info .form-list label{display: block;margin: 3px 0;font-size: 16px;}
    .my-account .form-list input[type="checkbox"] + label,
    .box-info .form-list input[type="checkbox"] + label{display: inline-block;}
    .box-info .buttons-set{padding: 0;}
    .box-info .buttons-set button{width: 100%;}
    .box-info .col2-set .box-title,
    .box-info .col2-set .box-content{width: 100%;float: none;text-align: left;}
    .buttons-set .back-link{margin-top: -5px;}

    .header-white-container{display: none;}
    .the-slideshow{margin: 0;}
    #mobnav-trigger{display: inline-block;padding: 5px 10px;background: #666;}
    #nav, .vertnav-top{border: none;}
    .accordion .opener{width: 40px;height: 38px;}
    .vertnav-top li a{margin-bottom: 0;border-bottom: 1px solid #fff;padding: 10px;}
    .vertnav-top > li:first-child a{border-top: 1px solid #fff;}
    .vertnav-top > li.first > a{margin-top: 0}
    .vertnav-top > li.nav-1 > a{background: #c5191a;}
    .vertnav-top > li.nav-2 > a{background: #e6590b;}
    .vertnav-top > li.nav-3 > a{background: #e0c035;}
    .vertnav-top > li.nav-4 > a{background: #00993c;}
    .vertnav-top > li.nav-5 > a{background: #009de1;}
    .vertnav-top > li.nav-6 > a{background: #064b8b;}

    .vertnav-top.mobile{display: none;max-height: none;}
    #mobnav-trigger{display: block!important;}

    .box-info .form-list .input-box{width: 100%;}

    #myproducts td:first-child, #my-orders-table td:first-child{padding-left: 0;box-sizing: border-box;-webkit-box-sizing: border-box;}
    .data-table .cell-label{margin-right: 30px;}
    .box-account .box-head h2{font-size: 28px;line-height: 30px;}
    .dashboard .box-reviews li.item{margin-bottom: 20px;}
    #myproducts .related-products img{margin: 0 0 15px;}

    .top-category-download{padding: 20px 10px;}
    .top-category-download ul li{width: 49%;padding-left: 2%;}
    .top-category-download ul li:nth-child(2n+1){clear: both;padding-left: 0;}

    .popup-download{width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;}
    .popup-download .sub-download-box{padding-bottom: 20px;}
    .popup-download .form-code-download{width: 100%;}


    .collapsible .block-title{font-size: 16px;padding-bottom: 8px;}
    .footer-container .custom-bullet{font-size: 14px;line-height: 30px;}
    .cookieAdvice .posWrapper .cookieTxt {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .cookieAdvice .posWrapper {
        width: 100%;
    }
    .cookieAdvice .posWrapper .cookieClose{
        display: block;
        position: absolute;
        top: 2px;
        right: 15px;
    }
    .cookieAdvice .posWrapper {
        display: block;
    }
    .cookieClose .right{display:none!important;}
}
@media screen and (max-width: 479px) {
    .newsletter-wrapper label{font-size: 16px!important;text-align:left;float:left!important;}
    #subscribe-form{width:100%;}
    .top-category-download{padding: 20px;}
    .top-category-download h2{font-size: 20px;}
    .top-category-download ul li{width: 100%;padding-left: 0;}
}
@media (min-width: 768px) and (max-width: 992px) {
    .block-box .block-content .price{font-size: 26px;}
    .fancybox-inner .product-view .hardcover > .btn-cart span{padding: 3px 4px;}
}
@media only screen and (min-device-width: 690px) and (max-device-width: 860px){
    .products-grid .item .actions .button.btn-cart span, .products-grid .item .actions .button.btn-cart span span {
        font: 600 12px "open sans" !important;
    }
    .products-grid .item .actions .button {
        width: 100%;
    }
    .block-layered-nav .currently .btn-remove {
        padding-left: 10px;
        font-size: 8px;
        font-weight: 600;
    }
    .products-grid .product-icon span{font: 600 9px/15px "open sans" !important;}
    .block-layered-nav .currently .btn-remove {display: block;}
}
@media only screen and (max-device-width: 768px) {
    .customer-account-create .account-create .name-firstname #firstname {
        width: 100%;
    }

    .customer-account-create .field.name-firstname {
        width: 100%;
    }

    .customer-account-create .form-list .name-prefix {
        width: 100%;
    }

    .customer-account-create .form-list .name-prefix select {
        width: 100%;
    }

    .customer-account-create .form-list input.input-text {
        width: 100%;
    }

    .customer-account-create .form-list .field {
        width: 100%;
    }

    .newsletter-subscribe-input .input-box label {
        width: 90% !important;
    }

    #newsletterForm .submit-button {
        text-align: center;
        padding: 0;
    }

    #newsletterForm .info-block .info-text {
        padding: 0;
    }

    #newsletterForm .page-title label {
        margin-left:0;
    }
    #newsletterForm .info-block .info-img {
        padding:0;
    }
    #newsletterForm .info-img .img-1,#newsletterForm .info-img .img-2,#newsletterForm .info-img .img-3 {
        width: auto;
        text-align: center;
        float: none;
    }
    #newsletterForm .info-hint {
        padding: 0;
    }
}