<?php
$_product = $this->getProduct();
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<div>
    <div class="detail_added">
        <div class="detail">
            <h2 class="title"><?php echo $this->__('Added to your basket'); ?></h2>

            <div class="product-wrap">
                <a href="<?php echo $_product->getProductUrl() ?>"
                   title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                   class="product-image"><img
                        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(128); ?>"
                        width="128" height="128"
                        alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>"/></a>

                <div class="popup-productinfo">
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"
                                                title="<?php echo $this->htmlEscape($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                    </h2>
                    <?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_product, true) ?>
                    <?php
                    $reviewBlock = $this->getLayout()->createBlock('review/helper');
                    echo $reviewBlock->getSummaryHtml($_product, false, false) ?>
                    <?php //endif; ?>
                </div>
            </div>
        </div>
        <div class="total-infor">
            <h2 class="title"><?php echo $this->__('im Warenkorb sind: ') . Mage::helper('checkout/cart')->getCart()->getItemsCount() . ' Artikel'; ?></h2>

            <div class="totals">
                <span class="label"><?php echo $this->__('Total amount') ?></span>

                <div
                    class="amount"><?php echo $this->helper('core')->formatPrice($this->helper('checkout/cart')->getQuote()->getGrandTotal(), false) ?></div>
            </div>
            <div class="buttons">
                <a class="continue-shopping"
                   href="#" onclick="closeAjaxPopup();return false;"><?php echo $this->__('Continue shopping'); ?></a>
                <a class="checkout-btn"
                   href="<?php echo $this->getUrl('onepage', array('_secure' => true)); ?>"><?php echo $this->__('Checkout'); ?></a>
            </div>
        </div>
    </div>
    <div class="addition-checkout-buttons">
        <div class="text">
            <span><?php echo $this->__('Order now immediately!') ?></span>
            <span><?php echo $this->__('We also accept') ?></span>
        </div>
        <?php //if(Mage::helper('jcustom')->checkIsContainPhysic()):?>
            <?php echo Mage::getBlockSingleton('paypal/express_shortcut')->setIsQuoteAllowed(1)->setTemplate('paypal/express/shortcut.phtml')->toHtml(); ?>
        <?php //endif; ?>
    </div>
</div>

