<?php
/**
 * Template display product list(related,upsell,crosssell)
 */
?>
<?php $_templateFolder = Mage::helper('ajaxcart')->getTemplateFolder() ?>
<?php if ($_templateFolder && file_exists(dirname(__FILE__) . "/$_templateFolder/display.phtml")): ?>
    <?php include "$_templateFolder/display.phtml" ?>
<?php else: ?>

    <?php $productParent = $this->getProduct(); ?>
    <?php $_helper = $this->helper('catalog/output'); ?>
    <?php $_productCollection = $this->getListProduct(); ?>

    <?php if (count($_productCollection) > 0): ?>
        <div class="ajaxcart-category-products">
            <h2 class="title"><?php echo $this->__('Kunden, die diesen Artikel kauften, kauften auch') ?></h2>
            <?php $_collectionSize = count($_productCollection); ?>
            <?php $_columnCount = $this->getColumnsCount() ? $this->getColumnsCount() : 3; ?>
            <div id="ajax_related_products" class="ajaxcart-products-grid">
            <?php $i = 0;
            foreach ($_productCollection as $_product): ?>
                <div class="item ajaxcart-item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>"class="product-image">
                       <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                    </a>
                    <h2 class="product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName(), null, true) ?>">
                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </a>
                    </h2>
                    <?php if ($_product->getRatingSummary()): ?>
                    <?php
                    $reviewBlock = $this->getLayout()->createBlock('review/helper');
                    echo $reviewBlock->getSummaryHtml($_product, false, false) ?>
                    <?php endif; ?>
                    <?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_product, true) ?>
                </div>
            <?php endforeach ?>
            </div>
        </div>
    <?php endif; ?>

<?php endif ?>