<?php
$isEnabled = $this->isEnabled();
$helper = $this->helper('eb_varnish');

?>

<?php if (true === $isEnabled): ?>

<style>
  span.note {font-size:11px;color:#6F8992}
</style>

<br/>
<div class="content-header">
  <table cellspacing="0">
    <tr>
      <td>
        <h3><?php echo $helper ->__('Varnish Cache Management') ?></h3>
     </td>
    </tr>
  </table>
</div>

<form action="<?php echo $this->getPurgeUrl() ?>" method="post" id="varnish-purge-form" enctype="multipart/form-data">
  <table width="330" style="margin-bottom:10px;">
     <tr>
       <td>
         <?php echo $this->getBlockHtml('formkey')?>
         <button type="submit" class="scalable"><span><?php echo $helper->__('Purge Varnish') ?></span></button>
       </td>
    </tr>
  </table>
</form>

<script type="text/javascript">
//<![CDATA[
    var singlekPurgeForm = new varienForm('varnish-single-purge-form');
//]]>
</script>

<?php endif;?>