<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        table {
            border-collapse:collapse !important;
            cellspacing: 1;
        }

        .tbl {background-color:#000;}
        .tbl td,th,caption{background-color:#fff}
        tr {padding-bottom: 1px}

        tr {
            border: 1px solid #000;
            border-left: 0;
            border-right: 0;
        }
        td {
            border:0px;
        }

        .no-border tr {
            border: 0;
        }
    </style>
</head>
<body>
<!--header-->
<div style="width: 50%;display:block;float:left;clear: both;border-collapse: collapse;padding-bottom:5px" border="1" class="no-border">
    <p style="border-top:0px; border-bottom: 1px solid #000;">
        Markt+Technik Verlag GmbH<br/>
        Espenpark 1a<br/>
        DE 90559 Burgthann<br/>
        Telefon: +49 9188 307 12-0<br/>
        Telefax: +49 9188 307 12-29<br/>
        <br/>
    </p>
</div>

<div style="float:right">
    <p style="float:right;text-align:right;">{{var ea_logo_store}}</p>
</div>
<!--end header-->
<table  style="width:100%;border-color: #000000; border-width: 1px;">
    <tr style="border-top: 0px;border-bottom: 0px;">
        <td align="left">
            <p style="text-align: left;">{{var billing_address}}</p>
        </td>
        <td></td>
    </tr>
</table>
<p>&nbsp;</p>
<table style="width:100%" class="no-border">
    <tr style="border-top: 1px solid #000; border-bottom: 1px solid #000;border-collapse:collapse" class="bottom-border">
        <td align="left"><h1>RECHNUNG <span style="font-size: 18px;font-weight: normal;">Nr.: {{var ea_invoice_id}}</span></h1></td>
        <td align="left" class="barcode"></td>
    </tr>
    <tr>
        <td align="left">
            <p>Datum:&nbsp;{{var ea_invoice_date}}</p>
            {{var ccustomer_id}}
            <p>Bestell-Nummer: &nbsp;{{var ea_order_number}}</p>
            <p>Zahlungskonditionen:&nbsp;{{var billing_method_text}}</p>
            <p>&nbsp;</p>
            <p>Lieferdatum entspricht Rechnungsdatum</p>
            <p>Die Ware bleibt bis zur vollständigen Bezahlung Eigentum der Fa. Markt+Technik Verlag GmbH</p>
        </td>
        <td></td>
    </tr>
</table>

<table style="width:100%;border-color: #000000; border-width: 1px;">
    <thead>
    <tr style="border-collapse:collapse;border-bottom: 1px solid #000;">
        <th>Pos</th>
        <th>Menge</th>
        <th>ME</th>
        <th>Artikel</th>
        <th colspan="2">Bezeichnung</th>
        <th>E-Preis</th>
        <th>MwSt.</th>
        <th>Gesamt</th>
    </tr>
    </thead>
    <tbody>
    <tr style="border:0;">
        <td colspan="11">##productlist_start##</td>
    </tr>
    <tr style="border:0">
        <td height="30">{{var items_position}}</td>
        <td  height="30" align="center">
            <p>{{var items_qty}}</p>
        </td>
        <td height="30" align="center">Stück</td>
        <td height="30" align="center"><p>{{var items_sku}}</p></td>
        <td height="30" colspan="2" align="center">
            <p>{{var items_name}}</p>
            <p>{{var bundle_items_option}}</p>
            <p>{{var product_options}}</p>
        </td>
        <td height="30" align="center">
            <p>{{var itemcarptice}}</p>
        </td>
        <td height="30" align="center">
            <p><span>{{var items_tax_percent}}</span></p>
        </td>
        <td align="center"><p>{{var itemcarpticeicl}}</p></td>
    </tr>
    <tr>
        <td colspan="11">##productlist_end##</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>

<table style="width: 30%" align="right">
    <tr>
        <td colspan="10" align="left">Zwischensumme</td>
        <td align="right">{{var subtotalincludingtax}}</td>
    </tr>
    {{var discountammount}}
    <tr>
        <td colspan="10" align="left">Versandkosten</td>
        <td align="right">{{var shipping_amount}}</td>
    </tr>
    <tr>
        <td colspan="10" align="left">Gesamtsumme (netto)</td>
        <td align="right">{{var grandtotalexcludingtax}}</td>
    </tr>
    {{var all_taxes}}
    <tr>
        <td colspan="10" align="left">Gesamtsumme (inkl. Mwst.)</td>
        <td align="right">{{var grandtotalincludingtax}}</td>
    </tr>
</table>
<!--footer-->
<table style="width: 100%; font-size:10px; border-top:1px solid #000">
    <tr>
        <td>
            Bankverbindung: Oberbank Nürnberg<br />
            BLZ: 70120700 • Konto: 108 115 5226<br />
            IBAN: DE41701207001081155226<br />
            BIC: OBKLDEMXXXX<br />
        </td>
        <td>
            Geschäftsführer: Peter Braun, Christian Braun<br />
            Mail: info@mut.de<br />
            Web: www.mut.de<br />
            EORI-Nummer: DE689182340489646<br />
        </td>
        <td>
            Ust-Id: DE294617659<br />
            Registergericht: Nürnberg<br />
            Amtsgericht: Nürnberg<br />
            HRB: 30574<br />
        </td>
    </tr>
</table>
<!--end footer-->
</body>
</html>