<!--@subject Bitte bestätigen Sie Ihre Newsletter-Anmeldung! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Vielen Dank für Ihre Newsletter-Anmeldung.</h1>
            <p>Bitte klicken Sie auf den unterstehenden Link, um Ihre Anmeldung zu bestätigen und um Ihren Gutschein zu erhalten.</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{var subscriber.getConfirmationLink()}}"><span>Newsletter-Anmeldung bestätigen</span></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- End Content -->
</td>
</tr>
</table>
<h5 class="closing-text" style="text-align: left;padding-left: 135px;">
    Vielen Dank<br><br>
    Lisa Gruber<br>
    Markt+Technik Verlag GmbH
</h5>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
