<!--@subject Neues Passwort für {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hallo {{htmlescape var=$customer.name}},</h1>
            <p><strong>Ihr neues Passwort wurde aktualisiert</strong></p>
            <p>Sie können Ihr Passwort jederzeit ändern. Melden Sie sich dazu in Ihrem <a href="{{store url="customer/account/"}}">Benutzerkonto</a> an.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
