<?php
	$_dclass = '';
	if(!Mage::getSingleton('customer/session')->isLoggedIn()){
		$_dclass = 'class="login-mention"';
	}
	$login = Mage::getSingleton('customer/session')->isLoggedIn();
	
	$user_register = Mage::getStoreConfig('files/files/registerdownload');
	
	
	if(Mage::getStoreConfig('files/files/allowdownload'))
	{
		if($user_register == 1 || ($user_register == 0 && !empty($login)))
		{
			if($this->getProduct()){
				$productId = $this->getProduct()->getId();
			}else{
				$productId = $this->getProductId();
			}
			$collection=Mage::getModel('files/files')->getFileCollection($productId);
		    $fileCollection=$collection->getData();
			$showImageFlag=0;
			$divHeigth=25;
			$imageBaseDir=Mage::getBaseDir('media').DS.'file_type_icons';
			$imageBaseUrl=Mage::getBaseUrl('media').'file_type_icons';
			$maxLinks=Mage::getStoreConfig('files/files/frontendlinks') ? Mage::getStoreConfig('files/files/frontendlinks') : 1;
			if(Mage::getStoreConfig('files/files/showimage'))
			{
	        	$showImageFlag=1;
				$imageHeight= Mage::getStoreConfig('files/files/typeimageheight') ? Mage::getStoreConfig('files/files/typeimageheight') : 25;
				$imageWidth= Mage::getStoreConfig('files/files/typeimagewidth') ? Mage::getStoreConfig('files/files/typeimagewidth') : 25;
				$divHeigth=$imageHeight;
	        }
			if(count($fileCollection)>0)
			{
	?>
			<div class='mainDiv'>
	        	<table>
				<?php
					$linksCount=1;
					foreach($fileCollection as $currentFile)
					{
					    if ($currentFile['sample_type'] == 'file') {
                            $imageDirPath=$imageBaseDir.DS.$currentFile['file_type'].'.png';
                            $imageName=$currentFile['file_type'];
                            $imagePath = $this->getSkinUrl('images/file_type_icons/'.$imageName.'.png');
                            $pathImage = $imagePath;
                            foreach(explode('/',Mage::getBaseUrl()) as $path){
                                $pathImage  =   str_replace($path, '', $pathImage);
                                $pathImage  =   str_replace('/skin', 'skin', $pathImage);
                            }

                            if(!file_exists(Mage::getBaseDir().DS.$pathImage)){
                                $imageName=Mage::getStoreConfig('files/files/defaultimage') ? Mage::getStoreConfig('files/files/defaultimage') : 'default';
                                $imagePath = $this->getSkinUrl('images/file_type_icons/'.$imageName.'.png');
                            }
                            $path = Mage::getUrl('files/index/download'.'/id/'.$currentFile['file_timestamp']);
                            $size=$this->getModifiedFileSize($currentFile['file_size']);
                        } else {
                            $imagePath = $this->getSkinUrl('images/file_type_icons/default.png');
                            $path = $currentFile['sample_url'];
                            $size = false;
                        }
						// customer group empty -> allow only customer login
						if ($currentFile['file_customer_group']) {
							$customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
							$customerGroupAllow = explode(',', $currentFile['file_customer_group']);
							if (!in_array($customerGroupId, $customerGroupAllow)) {
								$path = '#prompt';
							}
                        } else {
							if(!Mage::getSingleton('customer/session')->isLoggedIn()){
								$path = '#prompt';
							}
						}
						//$imagePath=$imageBaseUrl."/".$imageName.'.png';

						echo "<tr>";
							if($showImageFlag)
								echo "<td class='fileImageDiv' style='height:".$divHeigth.";'><img src='".$imagePath."' height='".$imageHeight."' width='".$imageWidth."' alt='".$currentFile['file_type']."' /></td>";
							echo "<td class='fileTitleDiv' style='height:".$divHeigth.";'><b>".$currentFile['file_title']."</b>";
							if ($size) {
                                echo "<font> (" . $size;
                                if (!$showImageFlag)
                                    echo " - " . $currentFile['file_type'];
                                echo ")</font>";
                            }
							echo "</td>";
							echo "<td style='height:".$divHeigth.";'><a $_dclass href='".$path."'>Download</a></td>";
		                echo "</tr>";
						if($linksCount < $maxLinks)
							$linksCount++;
						else
							break;
					}
				?>
				</table>
			</div>
	<?php
			}
		}
	}
?>
<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()):?>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('.login-mention').fancybox({
				fitToView	: false,
				width		: '45%',
				height		: '40%',
				autoSize	: false,
				closeClick	: false,
				openEffect	: 'none',
				closeEffect	: 'none'
			});
	});
</script>
<div class="login-prompt" style="display: none;">
	<div id="prompt">
		<h2 style="color: red;"><strong>Sie sind nicht angemeldet!</strong></h2>
		<p>Dieser Download steht nur unseren registrierten und angemeldeten Kunden zur Verfügung.</p>
		<p>Sofern Sie bereits bei uns registriert sind, melden Sie sich <a style="color:blue; text-decoration:underline" href="https://www.mut.de/customer/account/login/">hier</a> bitte an.</p>
		<p>Sind Sie bei uns noch nicht registriert, so können Sie sich <a style="color:blue; text-decoration:underline" href="https://www.mut.de/customer/account/login/">hier</a> kostenlos registrieren.</p>
		<br/>
		<p>Für Fragen stehen wir Ihnen gerne zur Verfügung:</p>
		<p>E-Mail: <a style="color:blue; text-decoration:underline" href="mailto:info@mut.de">info@mut.de</a></p>
		<p>Telefon: 09188/30712-0</p>
	</div>
</div>
<?php endif;?>