<?php
/**
 * Brands sldier
 */
?>
<?php
    $helper = Mage::helper('brands');
    if ($helper->getCfg('slider/all_brands'))
    {
        $brands = $this->getAllBrands();
    }
    else
    {
        $brands = $this->getAllBrandsInUse();
    }
?>
<?php if ($brands): ?>
<?php
    $sliderClasses = '';
    $imgClasses = '';

    //Slider parameters
    //--------------------------------------------------------------
    //Responsive mode on/off
    $isResponsive = $this->getIsResponsive(); //param: is_responsive
    if ($isResponsive === NULL) //Param not set
    {
        $isResponsive = true; //IMPORTANT: enabled by default
    }

    //Assign number of items in a row to specific viewport width
    $breakpoints = $this->getBreakpoints(); //param: breakpoints
    if ($breakpoints === NULL) //Param not set
    {
        $breakpoints = '[0, 1], [320, 2], [480, 2], [768, 3], [960, 4], [1280, 5]'; //Set default breakpoints
    }
    $breakpoints = str_replace(']', '}', $breakpoints);
    $breakpoints = str_replace('}, ', '},', $breakpoints);
    $breakpoints = str_replace(', ', ':{ items: ', $breakpoints);
    $breakpoints = str_replace('[', '', $breakpoints);
    //Number of items in a row displayed if responsive mode is off
    $showItems = $this->getShowItems(); //param: show_items
    if (!$showItems) //Param not set or equals zero
    {
        $showItems = 5; //Set default number of items
    }

    //Pagination on/off
    $pagination = $this->getPagination(); //param: pagination

    //Slider timeout. Set to enable automatic scrolling.
    $timeout = $this->getTimeout(); //param: timeout
    if ($timeout === NULL) //Param not set
    {
        $timeout = intval($helper->getCfg('slider/timeout'));
    }
    else
    {
        $timeout = intval($timeout);
    }

    //Number of items that should move on scrolling
    $move = $this->getMove(); //param: move
    if ($move === NULL) //Param not set
    {
        $move = 0; //By default scroll all visible items
    }
    else
    {
        $move = intval($move);
    }

    //If set, slider will loop.
    $loop = $this->getLoop(); //param: loop
    if ($loop === NULL) //Param not set
    {
        $loop = $helper->getCfg('slider/loop');
    }

    //Scrolling speed
    $speed = intval($helper->getCfg('slider/speed'));

    //Speed (automatic scrolling / pagination)
    $autoSpeed = intval($helper->getCfg('slider/auto_speed'));

    //Pause slider on mouse hover
    $pause = $helper->getCfg('slider/pause');

    //Lazy loading
    $lazy = $helper->getCfg('slider/lazy');

    //Slider classes
    //--------------------------------------------------------------
    if($isResponsive)
    {
        $sliderClasses .= ' itemslider-responsive';
    }

    $sliderId = "itemslider-brands";
?>

<h3 class="section-title padding-right"><?php echo $this->getBlockName(); ?></h3>
<div class="itemslider-wrapper brand-slider-wrapper slider-arrows1 slider-arrows1-pos-top-right slider-pagination1 slider-pagination1-centered">
    <div id="<?php echo $sliderId; ?>" class="itemslider<?php if($sliderClasses) echo $sliderClasses; ?> brand-slider">
    <?php foreach ($brands as $brand): ?>
        <div class="item">
            <?php $brandPageUrl = $this->getBrandPageUrl($brand); ?>
            <a href="<?php echo $brandPageUrl; ?>" title="<?php echo $this->__('Click to see more products from %s', $brand); ?>">
                <?php if ($lazy): ?>
                    <img class="lazyOwl" data-src="<?php echo $this->getBrandImageUrl($brand); ?>" alt="<?php echo $brand; ?>" />
                <?php else: ?>
                    <img src="<?php echo $this->getBrandImageUrl($brand); ?>" alt="<?php echo $brand; ?>" />
                <?php endif; ?>
            </a>
        </div>
    <?php endforeach; ?>
    </div> <!-- end: itemslider -->
</div> <!-- end: itemslider-wrapper -->
<script type="text/javascript">
//<![CDATA[
    jQuery(function($) {

        var owl = $('#<?php echo $sliderId; ?>');
        owl.owlCarousel({

            <?php if ($lazy): ?>
            lazyLoad: true,
            <?php endif; ?>

            <?php if(!$isResponsive): ?>
            responsive: false,
            items: <?php echo $showItems; ?>,
            <?php else: ?>
            responsive: { <?php echo $breakpoints; ?> },
            responsiveRefreshRate: 50,
            <?php endif; ?>

            <?php if ($speed): ?>
            slideSpeed: <?php echo $speed; ?>,
            <?php endif; ?>

            <?php if ($autoSpeed): ?>
            autoplaySpeed: <?php echo $autoSpeed; ?>,
            <?php endif; ?>

            scrollPerPage: false,

            <?php if ($timeout): ?>
            autoplayTimeout: <?php echo $timeout; ?>,
            autoplay: true,
            <?php endif; ?>

            <?php if ($pause): ?>
            stopOnHover: true,
            autoplayHoverPause: true,
            <?php endif; ?>

            <?php if ($loop): ?>
            loop:true,
            <?php else: ?>
            loop: false,
            <?php endif; ?>

            nav: true

        }); //end: owl

    });
//]]>
</script>
<?php endif; ?>
