<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Auto Codes') ?></h4>
    </div>
    <fieldset>
        <legend><?php echo Mage::helper('catalog')->__('Auto Codes') ?></legend>
        <table cellspacing="0" class="form-list" id="table_autocode">
            <tr>
                <td class="label"><label for="autocode_enabled"><?php echo Mage::helper('catalog')->__('Enable Auto Codes') ?></label></td>
                <td class="value">
                    <select id="autocode_enabled" name="<?php echo $this->getFieldSuffix() ?>[autocode_enabled]" class="select">
                        <option value="1" <?php if ($this->getAutocodeEnabledValue() == 1) echo 'selected="selected"'; ?>><?php echo Mage::helper('catalog')->__('Yes') ?></option>
                        <option value="0" <?php if ($this->getAutocodeEnabledValue() != 1) echo 'selected="selected"'; ?>><?php echo Mage::helper('catalog')->__('No') ?></option>
                    </select>
                    <input type="hidden" id="autocode_enabled_default" value="<?php echo $this->getAutocodeEnabledValue() ?>" />
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <!--<tr>
                <td class="label"><label for="insert_autocode"><?php echo Mage::helper('catalog')->__('Insert Auto Codes') ?></label></td>
                <td class="value">
                    <textarea id="insert_autocode" name="<?php echo $this->getFieldSuffix() ?>[autocode][insert]"><?php echo $this->getFieldValue('insert'); ?></textarea>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>-->
            <tr>
                <td class="label"><label for="autocode_available_key"><?php echo Mage::helper('catalog')->__('Available Auto Codes') ?></label></td>
                <td class="value">
                    <textarea id="autocode_available_key" name="<?php echo $this->getFieldSuffix() ?>[autocode][available]"><?php echo $this->getAvailabelListCodes(); ?></textarea>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <tr>
                <td class="label"><label for="autocode_used_key"><?php echo Mage::helper('catalog')->__('Used Auto Codes') ?></label></td>
                <td class="value">
                    <textarea id="autocode_used_key" name="<?php echo $this->getFieldSuffix() ?>[autocode][used]" disabled="disabled"><?php echo $this->getUsedListCodes(); ?></textarea>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="value"><a id="autocode_resend" target="_blank" href="<?php echo $this->getListUrlBySku(); ?>" alt="Auto Code Resend"><?php echo Mage::helper('catalog')->__('Auto Code Resend') ?></a></td>
            </tr>
            <tr>
                <td class="label"><label for="autocode_instruction"><?php echo Mage::helper('catalog')->__('Outofcode Instruction') ?></label></td>
                <td class="value">
                    <textarea id="autocode_instruction" name="product[autocode_instruction]"><?php echo $this->getAutocodeInstruction(); ?></textarea>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
        </table>
    </fieldset>
</div>
<script type="text/javascript">
//<![CDATA[
    function changeAutocodeOptions()
    {
        var enabled_value = $('autocode_enabled').value;
        if (enabled_value == 1) {
            Element.show($('autocode_available_key').parentNode.parentNode);
            Element.show($('autocode_used_key').parentNode.parentNode);
            Element.show($('insert_autocode').parentNode.parentNode);
            Element.show($('autocode_resend').parentNode.parentNode);
        } else {
            Element.hide($('autocode_available_key').parentNode.parentNode);
            Element.hide($('autocode_used_key').parentNode.parentNode);
            Element.hide($('insert_autocode').parentNode.parentNode);
            Element.hide($('autocode_resend').parentNode.parentNode);
        }
    }
    Event.observe(window, 'load', function() {
        if ($('autocode_enabled')) {
            //var enabled_default_value = $('autocode_enabled_default').value;

            Event.observe($('autocode_enabled'), 'change', changeAutocodeOptions);
            changeAutocodeOptions();
        }
    });
//]]>
</script>