 <?php
 $identifierArr = array("fotografie", "druckerei", "office_");
foreach($identifierArr as $_item) :
    $_block = Mage::getModel('cms/block')->load($_item);
?>
    <div class="item" id="<?php echo $_item?>">
        <h2><?php echo $_block->getTitle()?></h2>
        <div class="content-item" id="<?php echo 'content-item-'.$_item;?>">
            <?php echo $_block->getContent()?>
        </div>
    </div>
<?php endforeach; ?>

