<div class="cookieAdvice" style="display:none;">
    <div class="posWrapper">
        <p class="cookieTxt">
            M+T verwendet Cookies, um Ihnen den bestmöglichen Service zu gewährleisten. Wenn Sie auf unserer Seite weitersurfen stimmen Sie der <a href="<?php echo $this->getUrl('cookies_datenschutz') ?>">Cookie-Nutzung</a> zu.</p>
        <p class="cookieClose">
            <a href="#">
                <span class="closeButton">×</span>
                <span class="right">Ich stimme zu.</span>
            </a>
        </p>
    </div>
</div>
<script type="text/javascript">
    jQuery(function($) {
        if (localStorage.getItem('cookie_accept') === null) {
            $('.cookieAdvice').show();
        }
        $('.cookieAdvice .cookieClose').click(function(e) {
            e.preventDefault();
            $('.cookieAdvice').hide();
            localStorage.setItem('cookie_accept', 'yes');
        });
    });
</script>