<?php
$_reviews = $this->getReviewData(Mage::app()->getStore()->getId());
$limit = Mage::helper('jcustom')->getNumberOfVottings();
$rand_keys = array_rand($_reviews, $limit);
if(count($_reviews) > 0):
?>
<div class="user-vote">
    <div class="block-header">
        <h3><?php echo $this->__('Kunden-Bewertungen');?></h3>
    </div>
    <div id="user-vote-content">
        <?php for($i=0; $i<$limit; $i++):?>
        <?php if(!isset($_reviews[$rand_keys[$i]])) break; ?>
        <?php $_item = $_reviews[$rand_keys[$i]];?>
        <div class="item">
            <div class="item-title"><?php echo $_item['title'];?></div>
            <div class="rate-slogan">
                <div class="rating-box">
                    <div class="rating" style="width:<?php echo $_item['rate']?>%"></div>
                </div>
                <div class="slogan"><?php echo $_item['slogan'];?></div>
            </div>
            <div class="user-date">
                <?php echo $this->__('Von') . ' <span class="user-name">' . $_item['customer'] . '</span> ' . $this->__('am') . ' ' . $_item['date'];?>
            </div>
            <div class="verify-text"><?php echo $this->__('Verifizierter Kauf');?></div>
            <div class="detail"><?php echo htmlspecialchars($_item['detail']);?></div>
        </div>
        <?php endfor;?>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    jQuery(function($) {

        var owl = $('#user-vote-content');
        <?php /* owl.owlCarousel({
            singleItem: true,
            slideSpeed: 200,
            paginationSpeed: 500,
            autoPlay: 3000,
            stopOnHover: true,
            rewindNav: true,
            rewindSpeed: 600,
            autoHeight: true,
            pagination: true
        }); //end: owl
        */
        ?>
        owl.owlCarousel({
            items: 1,
            autoplay: true,
            autoplayHoverPause: true,
            autoplaySpeed: 300,
            autoplayTimeout: 3000,
            loop: true,
            autoHeight: true
        }); //end: owl
    });
    //]]>
</script>
<?php endif; ?>