/**
 * Generic interface elements
 */



/* Owl Carousel %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Generic arrows 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-arrows1 .owl-controls .owl-buttons { position:absolute; }
.slider-arrows1 .owl-controls .owl-buttons div {
    float:left;
    display:block;
    width:50px;
    height:80px;
    background-image:url(../../../images/infortis/_shared/slider-arrows.png);
    background-repeat:no-repeat;
    background-color:#FFF !important;
    cursor:pointer;
    text-decoration:none;
    text-indent:-9999px;
    overflow:hidden;
    transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.slider-arrows1 .owl-controls.clickable .owl-buttons div:hover { background-color:#333; }
.slider-arrows1 .owl-controls			.owl-buttons div.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.slider-arrows1 .owl-controls.clickable .owl-buttons div.disabled:hover { background-color:#e5e5e5; /* Must be the same as default color */ }

.slider-arrows1 .owl-controls 			.owl-buttons .owl-prev					{ background-position:0px 0px; float:left;  margin-left:-30px; }
/*.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-prev:hover			{ background-position:-60px -90px; }*/
/*.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-prev.disabled:hover	{ background-position:-10px -10px; *//* Same as default *//* }*/

.slider-arrows1 .owl-controls 			.owl-buttons .owl-next					{ background-position:-60px 0px; float:right;margin-right:-40px;}
/*.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-next:hover			{ background-position:0 -90px; }*/
/*.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-next.disabled:hover	{ background-position:-60px -10px; *//* Same as default *//* }*/

/* Position */
.slider-arrows1-pos-top-right .owl-controls .owl-buttons { top:24%; right:0px; width:100%;}
.slider-arrows1-pos-top-left  .owl-controls .owl-buttons { top:-40px; left:0px; }




.catalog-product-view .slider-arrows1 .owl-controls.clickable .owl-buttons div:hover { background-color:transparent; }
.catalog-product-view .slider-arrows1 .owl-controls			.owl-buttons div.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.catalog-product-view .slider-arrows1 .owl-controls.clickable .owl-buttons div.disabled:hover { background-color: transparent; /* Must be the same as default color */ }

.catalog-product-view .slider-arrows1 .owl-controls 			.owl-buttons .owl-prev					{ background-position:-10px -10px; margin-right:1px; float:left;background-color:transparent !important; }
.catalog-product-view .slider-arrows1 .owl-controls.clickable .owl-buttons .owl-prev:hover			{ background-position:-10px -60px; }
.catalog-product-view .slider-arrows1 .owl-controls.clickable .owl-buttons .owl-prev.disabled:hover	{ background-position:-10px -10px; /* Same as default */ }

.catalog-product-view .slider-arrows1 .owl-controls 			.owl-buttons .owl-next					{ background-position:-60px -10px;float:right; background-color:transparent !important; }
.catalog-product-view .slider-arrows1 .owl-controls.clickable .owl-buttons .owl-next:hover			{ background-position:-60px -60px; }
.catalog-product-view .slider-arrows1 .owl-controls.clickable .owl-buttons .owl-next.disabled:hover	{ background-position:-60px -10px; /* Same as default */ }

/* Position */
.catalog-product-view .slider-arrows1-pos-top-right .owl-controls .owl-buttons { top:42%; right:0px; }
.catalog-product-view .slider-arrows1-pos-top-left  .owl-controls .owl-buttons { top:42%; left:0px; }


/* Generic arrows 2
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-arrows2 .owl-controls .owl-buttons div {
    position:absolute;
    display:block;
    width:50px;
    height:50px;
    background-image:url(../../../images/infortis/_shared/slider-arrows.png);
    background-repeat:no-repeat;
    background-color:#fff;
    cursor:pointer;
    text-decoration:none;
    text-indent:-9999px;
    overflow:hidden;
    transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    /* Fix: opacity transition disabled for Firefox to prevent possible glitches during animation */

    opacity:0;
    filter:alpha(opacity=0);
}
.slider-arrows2:hover .owl-controls .owl-buttons div { opacity:1; filter:alpha(opacity=100); }

.slider-arrows2 .owl-controls.clickable .owl-buttons div:hover { background-color:#000; }
.slider-arrows2 .owl-controls			.owl-buttons .owl-prev			{ background-position:-6px 0; left:2%; top:44%; border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px; }
.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev:hover	{ background-position:-6px -50px; }
.slider-arrows2 .owl-controls			.owl-buttons .owl-next			{ background-position:-44px 0; right:2%; top:44%; border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;}
.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next:hover	{ background-position:-44px -50px; }


/* Generic arrows 3
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-arrows3 .owl-controls .owl-buttons div {
    position:absolute;
    display:block;
    width:30px;
    height:30px;
    background-image:url(../../../images/infortis/_shared/slider-arrows.png);
    background-repeat:no-repeat;
    background-color:#fff;
    cursor:pointer;
    text-decoration:none;
    text-indent:-999px;
    overflow:hidden;
    transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.slider-arrows3 .owl-controls.clickable .owl-buttons div:hover { background-color:#FFF; }
.slider-arrows3 .owl-controls			.owl-buttons div.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.slider-arrows3 .owl-controls.clickable .owl-buttons div.disabled:hover { background-color:#fff; /* Must be the same as default color */ }

.slider-arrows3 .owl-controls			.owl-buttons .owl-prev					{ background-position:-10px -10px; top:30%; left:-32px; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-prev:hover			{ background-position:-10px -60px;background-color:#FFF; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-prev.disabled:hover	{ background-position:-10px -10px; /* Same as default */ background-color:#FFF;}

.slider-arrows3 .owl-controls			.owl-buttons .owl-next					{ background-position:-60px -10px; top:30%; right:-32px; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-next:hover			{ background-position:-60px -60px;background-color:#FFF; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-next.disabled:hover	{ background-position:-60px -10px;background-color:#FFF; /* Same as default */ }

/* Position */


/* Generic pagination 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-pagination1 .owl-controls .owl-page {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.slider-pagination1 .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 7px 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color:#eee;
    transition:			background-color 300ms ease-in-out;
    -moz-transition:	background-color 300ms ease-in-out;
    -webkit-transition:	background-color 300ms ease-in-out;
    -o-transition:		background-color 300ms ease-in-out;
}
.slider-pagination1 .owl-controls.clickable .owl-page:hover span { background-color:#000; }
.slider-pagination1 .owl-controls .owl-page.active span { background-color:#ccc; }


/* Generic pagination 2
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-pagination2 .owl-controls .owl-page {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.slider-pagination2 .owl-controls .owl-page span {
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color:#fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width:10px;
    height:10px;
    margin:8px;
    transition:			background-color 300ms ease-in-out;
    -moz-transition:	background-color 300ms ease-in-out;
    -webkit-transition:	background-color 300ms ease-in-out;
    -o-transition:		background-color 300ms ease-in-out;
    /*	transition:			width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;
        -moz-transition:	width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;
        -webkit-transition:	width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;
        -o-transition:		width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;*/
}
.slider-pagination2 .owl-controls.clickable .owl-page:hover span,
.slider-pagination2 .owl-controls .owl-page.active span {
    width:16px;
    height:16px;
    margin:5px;
}
.slider-pagination2 .owl-controls .owl-page.active {
    cursor:default;
}


/* Pagination position
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.pagination-pos-bottom-centered							{ padding-bottom: 50px; /* Additional space for bottom pagination */ }
.pagination-pos-bottom-centered 		.owl-pagination { padding: 10px 0; text-align: center; position: absolute; width: 100%; }
.pagination-pos-bottom-right 			.owl-pagination { padding: 10px 0; float: right; }
.pagination-pos-bottom-left 			.owl-pagination { padding: 10px 0; float: left; }

/* Over the slider */
.pagination-pos-over-bottom-centered	.owl-pagination { text-align: center; margin-top: -35px; position: absolute; width: 100%; }
.pagination-pos-over-bottom-right		.owl-pagination { position:absolute; bottom:3.5%; right:1.5%; }
.pagination-pos-over-bottom-left		.owl-pagination { position:absolute; bottom:3.5%; left:1.5%; }





/* Deprecated classes %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Simple directional arrows
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.gen-direction-arrows1 a.previous,
.gen-direction-arrows1 a.next {
    display:block;
    width:30px;
    height:30px;
    background-image:url(../../../images/infortis/_shared/slider-arrows.png);
    background-size: 30px auto;
    background-repeat:no-repeat;
    background-color:transparent;
    transition:			background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition:		background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.gen-direction-arrows1 a.previous { background-position: 13px 4px; }

.gen-direction-arrows1 a.next { background-position: -14px 4px; }


/* Generic arrows 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style: small, outside the slider
-------------------------------------------------------------- */
.gen-slider-arrows1 .direction-nav li { float:left; }
.gen-slider-arrows1 .direction-nav a {
    display:block;
    width:30px;
    height:30px;
    background-image:url(../../../images/infortis/_shared/slider-arrows.png);
    background-repeat:no-repeat;
    background-color:#e5e5e5;
    cursor:pointer;
    text-decoration:none;
    text-indent:-999px;
    overflow:hidden;
    transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.gen-slider-arrows1 .direction-nav a:hover { background-color:#FFF; }
.gen-slider-arrows1 .direction-nav a.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.gen-slider-arrows1 .direction-nav a.disabled:hover { background-color:#FFF; /* Must be the same as default color */ }

.gen-slider-arrows1 .direction-nav .prev { background-position:-10px -10px; margin-right:1px; }
.gen-slider-arrows1 .direction-nav .prev:hover { background-position:-10px -60px; }
.gen-slider-arrows1 .direction-nav .prev.disabled:hover { background-position:-10px -10px; /* Same as default */ }

.gen-slider-arrows1 .direction-nav .next { background-position:-60px -10px; }
.gen-slider-arrows1 .direction-nav .next:hover { background-position:-60px -60px; }
.gen-slider-arrows1 .direction-nav .next.disabled:hover { background-position:-60px -10px; /* Same as default */ }

/* Positioning:
-------------------------------------------------------------- */
.gen-slider-arrows1-pos-top-right .direction-nav { position:absolute; top:-40px; right:0px; }
.gen-slider-arrows1-pos-top-left .direction-nav { position:absolute; top:-40px; left:0px; }


/* Generic arrows 2
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style: large, on slider, split
-------------------------------------------------------------- */
.gen-slider-arrows2 .direction-nav { height:0; }
.gen-slider-arrows2 .direction-nav a {
    position:absolute;
    display:block;
    width:50px;
    height:50px;
    background-image:url(../../../images/infortis/_shared/slider-arrows.png);
    background-repeat:no-repeat;
    background-color:#fff;
    cursor:pointer;
    text-decoration:none;
    text-indent:-999px;
    overflow:hidden;
    transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition:	opacity   0ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    /* Fix: opacity transition disabled for Firefox to prevent possible glitches during animation */

    opacity:0;
    filter:alpha(opacity=0);
}
.gen-slider-arrows2:hover .direction-nav a { opacity:1; filter:alpha(opacity=100); }
.gen-slider-arrows2:hover .direction-nav a.disabled { opacity:0.4; filter:alpha(opacity=40); }

.gen-slider-arrows2 .direction-nav a:hover { background-color:#333; }
.gen-slider-arrows2 .direction-nav a.disabled { cursor:default; }
.gen-slider-arrows2 .direction-nav a.disabled:hover { background-color:#fff; /* Must be the same as default color */ }

.gen-slider-arrows2 .direction-nav .prev { background-position:0 0; left:1.5%; top:45%; }
.gen-slider-arrows2 .direction-nav .prev:hover { background-position:0 -50px; }
.gen-slider-arrows2 .direction-nav .prev.disabled:hover { background-position:0 0; }

.gen-slider-arrows2 .direction-nav .next { background-position:-50px 0; right:1.5%; top:45%; }
.gen-slider-arrows2 .direction-nav .next:hover { background-position:-50px -50px; }
.gen-slider-arrows2 .direction-nav .next.disabled:hover { background-position:-50px 0; /* Same as default */ }

/* Style: only background image
-------------------------------------------------------------- */
.gen-slider-arrows2-style1 .direction-nav a {
    background-image:url(../../../images/infortis/_shared/slideshow-arrows-solid.png);
    background-color:transparent !important;
}


/* Generic arrows 3
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style: at the left and the right side of the slider
-------------------------------------------------------------- */
.gen-slider-arrows3 .direction-nav a {
    position:absolute;
    display:block;
    width:30px;
    height:30px;
    background-image:url(../../../images/infortis/_shared/slider-arrows.png);
    background-repeat:no-repeat;
    background-color:#fff;
    cursor:pointer;
    text-decoration:none;
    text-indent:-999px;
    overflow:hidden;
    transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
    -o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.gen-slider-arrows3 .direction-nav a:hover { background-color:#333; }
.gen-slider-arrows3 .direction-nav a.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.gen-slider-arrows3 .direction-nav a.disabled:hover { background-color:#fff; /* Must be the same as default color */ }

.gen-slider-arrows3 .direction-nav .prev { background-position:-10px -10px; top:22px; left:-32px; }
.gen-slider-arrows3 .direction-nav .prev:hover { background-position:-10px -60px; }
.gen-slider-arrows3 .direction-nav .prev.disabled:hover { background-position:-10px -10px; /* Same as default */ }

.gen-slider-arrows3 .direction-nav .next { background-position:-60px -10px; top:22px; right:-32px; }
.gen-slider-arrows3 .direction-nav .next:hover { background-position:-60px -60px; }
.gen-slider-arrows3 .direction-nav .next.disabled:hover { background-position:-60px -10px; /* Same as default */ }

/* Style: long (high) buttons
-------------------------------------------------------------- */
.gen-slider-arrows3-style1 .direction-nav a { height:75px; }
.gen-slider-arrows3-style1 .direction-nav .prev { background-position:-10px 13px; top:0; left:-32px; }
.gen-slider-arrows3-style1 .direction-nav .prev:hover { background-position:-10px -37px; }
.gen-slider-arrows3-style1 .direction-nav .prev.disabled:hover { background-position:-10px 13px; /* Same as default */ }

.gen-slider-arrows3-style1 .direction-nav .next { background-position:-60px 13px; top:0; right:-32px; }
.gen-slider-arrows3-style1 .direction-nav .next:hover { background-position:-60px -37px; }
.gen-slider-arrows3-style1 .direction-nav .next.disabled:hover { background-position:-60px 13px; /* Same as default */ }


/* Generic pager 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style:
-------------------------------------------------------------- */
.gen-slider-pager1 .control-nav { text-align:center; }
.gen-slider-pager1 .control-nav li { float:left; margin-left:3px; }
.gen-slider-pager1 .control-nav li:first-child { margin-left:0; }

.gen-slider-pager1 .control-nav a {
    display:block;
    width:20px;
    height:20px;
    background-image:url(../../../images/infortis/_shared/pager.png);
    background-repeat:no-repeat;
    background-color:transparent;
    cursor:pointer;
    text-decoration:none;
    text-indent:-999px;
    overflow:hidden;
}
.gen-slider-pager1 .control-nav a:hover { background-position:0 -60px; }
.gen-slider-pager1 .control-nav a.active { background-position:0 -30px; cursor:default; }
.gen-slider-pager1 .control-nav a.active:hover {}

/* Style: small
-------------------------------------------------------------- */
.gen-slider-pager1-style1 .control-nav li { margin-left:0; }
.gen-slider-pager1-style1 .control-nav a { background-image:url(../../../images/infortis/_shared/pager-small.png); }


/* Positioning:
-------------------------------------------------------------- */
.gen-slider-pager1-pos-bottom-right .control-nav { position:absolute; bottom:4.4526%; right:1.5%; }
.gen-slider-pager1-pos-bottom-left .control-nav { position:absolute; bottom:4.4526%; left:1.5%; }

/* Additional pager positioning for slider-arrows1 */
.gen-slider-arrows1-pos-top-right-pager .control-nav { position:absolute; top:-33px; right:71px; }



/* Generic pager 2
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Default style:
-------------------------------------------------------------- */
.gen-slider-pager2 .control-nav { text-align:center; }
.gen-slider-pager2 .control-nav li { float:left; }
.gen-slider-pager2 .control-nav a {
    display:block;
    width:10px;
    height:10px;
    margin:8px;
    background-color:#fff;
    cursor:pointer;
    text-decoration:none;
    text-indent:-9999px;
    overflow:hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
.gen-slider-pager2 .control-nav a:hover { background-color:#000; }
.gen-slider-pager2 .control-nav a.active {
    cursor:default;
    width:16px;
    height:16px;
    margin:5px;
}