/**
 * MagPassion_Quickview extension
 * 
 * @category   	MagPassion
 * @package		MagPassion_Quickview
 * @copyright  	Copyright (c) 2014 by MagPassion (http://magpassion.com)
 * @license	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
.page-empty{padding: 0;}
.products-grid .item, .products-list .item { position: relative; }
.products-grid .item .mp_quickview_icon, .products-list .item .mp_quickview_icon { display: none; }
.products-grid .item:hover .mp_quickview_icon, .products-list .item:hover .mp_quickview_icon { display: block; }
.mp_quickview_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 10;
    background: #e7590b;
    font: bold 22px 'open sans';
    text-align: center;
    line-height: 26px;
    padding: 24px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.mp_quickview_icon:hover { opacity: 1;color: #ddd; }

.mp_quickview_product_page .product-view { border: none; }
.mp_quickview_product_page .product-view .product-essential { background: none; padding: 0px; }
.mp_quickview_product_page .product-view .product-shop {}
.mp_quickview_product_page .product-view .product-img-box { width: 39%; }
.mp_quickview_product_page .product-view .product-img-box .product-image { margin: 0 auto 9px; }
.mp_quickview_product_page .product-view .product-img-box .product-image img { width: 100%; height: auto; }

@media (max-width: 768px) {
    .mp_quickview_product_page .product-view .product-shop { width: 46%; }
    .mp_quickview_product_page .product-view .product-img-box { width: 52%; }
    /*.products-grid .item .mp_quickview_icon, .products-list .item .mp_quickview_icon { display: block; }*/
}

@media (max-width: 600px) {
    .mp_quickview_product_page .product-view .product-shop { width: 40%; }
    .mp_quickview_product_page .product-view .product-img-box { width: 58%; }
}

@media (max-width: 550px) {
    .products-grid .item .mp_quickview_icon, .products-list .item .mp_quickview_icon { display: none !important; }
    .mp_quickview_product_page .product-view .product-shop { width: 100%; }
    .mp_quickview_product_page .product-view .product-img-box { width: 100%; }
}
