<!--@subject Warnung: weniger als {{var amount}} Seriennummer vorhanden für... @-->
<!--
*
* @category
* @package
* @author
* @copyright
* @license
*
* vars	{{products}}
*   	{{amount}}
*		{{order}} object
-->
<html>
<head>
<style type="text/css">
	body,td {color:#000000;font:12px Arial;}
</style>
</head>
<body>
<div>
<table cellspacing="0" cellpadding="0" border="0" width="98%">
<tr>
	<td valign="top">
<!-- header starts here -->
		<table cellspacing="0" cellpadding="0" border="0" width="650px">
			<tr>
				<td>
					<!-- YOUR HEADER HERE -->
					<a href="{{store url=''}}"><img src="{{var logo_url}}" alt="" style="margin-bottom:10px;" border="0"/></a>
				</td>
			</tr>
		</table>
<!-- middle starts here -->

		<p><strong><em>Für die folgenden Produkte sind weniger als {{var amount}} Seriennummern vorhanden</em></strong></p>
		<table cellspacing="0" cellpadding="0" border="0" width="250">
            <thead>
                <tr>
					<th align="left" width="125" bgcolor="#EAEAEA" style="padding:10px">SKU</th>
					<th align="left" width="150" bgcolor="#EAEAEA" style="padding:10px">Produkt</th>
					<th align="left" width="15" bgcolor="#EAEAEA" style="padding:10px">Anzahl</th>
                </tr>
            </thead>
            <tbody>
                <tr>{{var products}}</tr>
            </tbody>
			<tfoot>
				<tr>
					<td>
						<p>Bitte füllen Sie diese auf.</p>
						<p>Viele Grüße</p>
						<p>Markt+Technik<br/>Shop-Controler</p>
					</td>
				</tr>
			</tfoot>
		</table>
	</td>
</tr>
</table></div></body></html>
