<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
/**
 * - Removed top "checkout" button
 * - Added table wrapper (to show background image)
 * - Changed "continue shopping" button and "update cart" button
 * - Added class 'last' in table header last cells
 * - Rearranged layout of 'cart-collaterals'
 */
?>
<div class="cart">
    <div class="page-title title-buttons">
        <h1><?php echo $this->__('Basket') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getUrl('checkout/cart/updatePost', array('_secure' => true)) ?>" method="post" class="the-cart-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <fieldset>
            <div class="cart-table-wrapper">
                <table id="shopping-cart-table" class="data-table cart-table">
                    <colgroup>
                        <col class="col-img" />
                        <col />
                        <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                            <col
                                class="<?php if ($this->helper('tax')->displayCartBothPrices()) echo 'col-total-excl'; else echo 'col-total'; ?>"
                                />
                        <?php endif; ?>
                        <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                            <col
                                class="<?php if ($this->helper('tax')->displayCartBothPrices()) echo 'col-total-incl'; else echo 'col-total'; ?>"
                                />
                        <?php endif; ?>

                        <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="col-img" rowspan="<?php echo $mergedCells; ?>"><?php echo ("Ihre Artikel"); ?></th>
                        <th class="a-right" colspan="<?php echo $mergedCells; ?>">
                            <?php echo $this->__('Unit Price') ?>
                            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                                <?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?>
                            <?php endif; ?>
                        </th>
                        <th class="a-center" colspan="<?php echo $mergedCells; ?>">
                            <?php echo $this->__('Qty') ?>
                        </th>
                        <th class="a-center" colspan="<?php echo $mergedCells; ?>">
                            <span class="main-amount-text"><?php echo $this->__('Amount') ?></span>
                            <span class="more-info"><?php echo $this->__('Vat included'); ?></span>
                        </th>
                    </tr>
                    <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                        <tr>
                            <th class="col-unit-price a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                            <th class="col-unit-price"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                            <th class="col-total-excl a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                            <th class="col-total-incl"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                        </tr>
                    <?php endif; ?>
                    </thead>
                    <tfoot>
                    <tr>
                        <td colspan="50" class="a-right">
                            <span
                                class="text">* <?php echo $this->__('The shipping costs will be calculated once they have entered their data'); ?></span>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <?php foreach ($this->getItems() as $_item): ?>
                        <?php echo $this->getItemHtml($_item) ?>
                    <?php endforeach ?>
                    <tr>
                        <?php echo $this->getLayout()->createBlock('checkout/cart_coupon')->setTemplate('opc/cart/coupon.phtml')->toHtml(); ?>
                    </tr>
                    <tr>
                        <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('opc/estimate.phtml')->toHtml(); ?>
                    </tr>
                    </tbody>
                </table>
                <script type="text/javascript">decorateTable('shopping-cart-table')</script>
                <!-- end: cart-table-wrapper -->
            </div>
        </fieldset>
    </form>
    <div class="cart-collaterals nested-container">
        <div class="cart-right-column grid12-4">
            <div class="totals grid-full alpha omega">
                <div class="totals-inner">
                    <div class="totals-wrap">
                        <?php echo $this->getChildHtml('totals'); ?>
                    </div>
                    <?php if (!$this->hasError()): ?>
                        <ul class="checkout-types">
                            <?php foreach ($this->getMethods('methods') as $method): ?>
                                <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                                    <li><?php echo $methodHtml; ?></li>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <!-- end: cart-right-column -->
    </div>
    <div class="addition-checkout-buttons">
        <?php /*<!-- div class="text">
                <span><?php echo $this->__('Order now immediately!') ?></span>
                <span><?php echo $this->__('We also accept') ?></span>
            </div-->
        */ ?>
        <?php if(Mage::helper('jcustom')->checkIsContainPhysic()):?>
            <?php echo Mage::getBlockSingleton('paypal/express_shortcut')->setIsQuoteAllowed(1)->setTemplate('paypal/express/shortcut.phtml')->toHtml(); ?>
        <?php endif; ?>
    </div>
    <div class="checkout-contact-info">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('checkout-contact-info')->toHtml(); ?>
    </div>



    <?php if (!Mage::getSingleton("customer/session")->isLoggedIn()): ?>
        <div class="checkout-signin">
            <div class="input-box">
                <input type="radio" class="radio" name="is_customer" value="1" checked="checked" id="guest_signin"/>
                <label for="guest_signin"><?php echo $this->__('Neukunde') ?></label>
            </div>
            <div class="input-box">
                <input type="radio" class="radio" name="is_customer" value="2" id="is_customer_signin" />
                <label for="is_customer_signin"><a id="customer_signin" href="#myModal" data-toggle="modal"><?php echo $this->__('Bin bereits Kunde') ?></a></label>
            </div>
        </div>
        <?php echo $this->getChildHtml('opclogin'); ?>
    <?php endif; ?>
</div>
