<td colspan="3">
    <h2><?php echo $this->__('Shipping costs');?></h2>
    <span class="text"><?php echo $this->__('Please choose your delivery country to calculate their shipping costs');?></span>
    <?php $_countries = Mage::getResourceModel('directory/country_collection')
                        ->loadData()
                        ->toOptionArray(false); ?>
    <?php
    $priorityVal = array('DE','AT','CH');
    $priorityCountries = array(
                            array('value' => 'DE', 'label' => 'Deutschland'),
                            array('value' => 'AT', 'label' => 'Österreich'),
                            array('value' => 'CH', 'label' => 'Schweiz'),
                        );
    $detectedGeoCountry = Mage::helper('opc/country')->get();
    ?>
    <?php if (count($_countries) > 0): ?>
        <select name="country" id="country" onchange="updateShippingEstimate(this.value)">
            <option value="" selected="selected">-- bitte auswählen --</option>
            <?php foreach($priorityCountries as $_pCountry): ?>
                <option value="<?php echo $_pCountry['value'] ?>">
                    <?php echo $_pCountry['label'] ?>
                </option>
            <?php endforeach; ?>
            <option class="select-dash" disabled="disabled">-------</option>
            <?php foreach($_countries as $_country): ?>
                <?php if(in_array($_country['value'],$priorityVal)) continue; ?>
                <option value="<?php echo $_country['value'] ?>">
                    <?php echo $_country['label'] ?>
                </option>
            <?php endforeach; ?>
        </select>
    <?php endif; ?>
</td>
<td><div id="shipping-costs-amount"><span class="price"><?php echo Mage::helper('core')->formatPrice(0, true);?></span></div></td>
<script>
    var detectedGeoCountry = '<?php echo $detectedGeoCountry;?>';
    jQuery(document).ready(function(){
        jQuery('#country').val(detectedGeoCountry);
        if (!jQuery('body').hasClass('geo-country-detected')) {
            updateShippingEstimate(detectedGeoCountry);
            jQuery('body').addClass('geo-country-detected')
        }
    });
    updateShippingEstimate = function(value){
        var url = '<?php echo Mage::getUrl('checkout/checkout/estimateShipping/', array('_secure' => true));?>';
        new Ajax.Request(url, {
            method: 'post',
            parameters: {country:value},
            onSuccess: function(response) {
                data = response.responseJSON;
                document.getElementById('shipping-costs-amount').innerHTML = data.shipping;
                document.getElementById('shopping-cart-totals-table').innerHTML = data.cart_total_data;
            }
        });
    }
</script>