<!-- Google Code for Bestellung Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 936001067;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "YcsFCM_b_GEQq_yovgM";
    var google_conversion_value = <?php echo $this->getOrderTotalWithoutShippingFee()?>;
    var google_conversion_currency = "EUR";
    var google_remarketing_only = false;

    dataLayer = [{
        'transactionId': '<?php echo $this->escapeHtml($this->getOrderIncrement());?>', // Transaction ID - Type:String - Required
        'transactionAffiliation': '<?php echo $this->getStoreName(); ?>', // store name - Type:String - Optional to use
        'transactionTotal': <?php echo $this->getGrandTotal(); ?>, //total revenue - Type:Numeric - Required
        'transactionTax': <?php echo $this->getTaxAmount(); ?>, // Tax amount for transaction - Type:Numeric - Optional to use
        'transactionShipping': <?php echo $this->getShippingAmount(); ?>,
        'transactionProducts':[
            <?php foreach($this->getAllProducts() as $d):?>
            {
            'sku': '<?php echo $d['sku']; ?>', // Product SKU - Type:String - Required
            'name': '<?php echo $d['name']; ?>', // Product Name - Type:String - Required
            'price': <?php echo $d['price']; ?>, // Product Price - Type:Numeric - Required
            'quantity': <?php echo $d['qty']; ?> // Product Quantity - Type:Numeric - Required
            },
            <?php endforeach;?>
        ]
    }];
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/936001067/?value=<?php echo $this->getOrderTotalWithoutShippingFee()?>&amp;currency_code=EUR&amp;label=YcsFCM_b_GEQq_yovgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!-- Google Code for Bestellung Conversion Page -->

<?php $_helper = $this->helper('catalog/output'); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="checkout-steps">
    <ul>
        <li class="steps step-1 active"><span><?php echo $this->__('1. Your data');?></span></li>
        <li class="steps step-2 active"><span><?php echo $this->__('2. Checking your details');?></span></li>
        <li class="steps step-3 active"><span><?php echo $this->__('3. Done');?></span></li>
    </ul>
</div>
<div class="top-content">
    <h2 class="title">
        <?php echo $this->__('Thank you for your order');?>
    </h2>
    <div class="message">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('thankyou-text')->toHtml();?>
        <?php echo '<p>Ihre Bestellnummer lautet: '.$this->escapeHtml($this->getOrderIncrement()).'</p>';?>
    </div>
</div>
<?php /*if($_collection = $this->getProductCollection()):?>
    <div class="suggestion-products">
        <div class="suggestion-header">
            <div class="info">
                <h2><?php echo $this->__('Your personal thank-you bonus')?></h2>
                <span class="text"><?php echo $this->__('3 special offers at a special price now only');?></span>
            </div>
            <div id="countdown" class="timer">
            </div>
        </div>
        <div class="suggestion-content">
            <ul>
                <?php $i=0; $_columnCount = 3; foreach($_collection as $_product): ?>
                    <li class="item <?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>"class="product-image">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                        </a>
                        <h2 class="product-name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName(), null, true) ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </h2>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php
                            $reviewBlock = $this->getLayout()->createBlock('review/helper');
                            echo $reviewBlock->getSummaryHtml($_product, false, false) ?>
                        <?php endif; ?>
                        <?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_product, true) ?>
                        <div class="input-box"><input type="checkbox" class="interesting" data-regular="<?php echo round($_product->getPrice(), 2);?>" data-final="<?php echo round($_product->getFinalPrice(),2);?>" data-productId="<?php echo $_product->getId();?>"/><label><?php echo $this->__('Additional interesting now');?></label></div>
                    </li>
                    <?php $i++; endforeach;?>
            </ul>
        </div>
    </div>
<?php endif; */?>
<?php /*?>
<div class="bottom-content">
    <div class="bottom-left">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('thankyou-bottom-left')->toHtml();?>
    </div>
    <div class="total-info">
        <table class="thankyou-total">
            <tr>
                <td><?php echo $this->__('Your savings package worth');?></td>
                <td><span class="regular-total"></span></td>
            </tr>
            <tr>
                <td colspan="2"><span class="add-interesting" onclick="document.getElementById('add-interesting-form').submit();"><?php echo $this->__('Also order now and save!');?></span></td>
            </tr>
            <tr>
                <td><?php echo $this->__('You save a total of');?></td>
                <td><span class="save-total"></span></td>
            </tr>
        </table>
    </div>
</div>
<form method="post" id="add-interesting-form" action="<?php echo Mage::getUrl('checkout/checkout/addInterestProducts');?>">
    <input type="hidden" name="product_ids" id="product_ids"/>
</form>
<script>
	window.onload = countDown(parseInt('<?php echo Mage::helper('opc')->getCountDown();?>'), function(){window.location.href = "<?php echo Mage::getBaseUrl();?>"});
    jQuery('.interesting').click(function(){
        var regular = 0;
        var final = 0;
        var save = 0;
        var productIds = '';
        jQuery('.interesting').each(function(){
            console.log(jQuery(this));
            if(jQuery(this).is(":checked") == true){
                regular += parseFloat(jQuery(this).attr('data-regular'));
                final += parseFloat(jQuery(this).attr('data-final'));
                productIds += jQuery(this).attr('data-productId')+',';
            }
        });
        save = regular - final;
        jQuery('#product_ids').val(productIds);
        jQuery('.regular-total').html(regular.toFixed(2)+'€');
        jQuery('.save-total').html(save.toFixed(2)+'€');
    });
	
	function countDown(seconds, callback) {
		callback = callback || function(){};
		var countdownTimer = setInterval(function(){
			var minutes = Math.floor(seconds/60);
			var remainingSeconds = seconds % 60;
			if(minutes >= 10) {
				var munits = minutes % 10;
				var mdozens = Math.floor(minutes / 10);
				minutes = "<span class='dozens'>"+mdozens+"</span><span class='units'>"+munits+"</span>";
			}
			else if (minutes < 10) {
				minutes = "<span class='dozens'>0</span><span class='units'>"+minutes+"</span>";  
			}
			if(remainingSeconds >= 10) {
				var units = remainingSeconds % 10;
				var dozens = Math.floor(remainingSeconds / 10);
				remainingSeconds = "<span class='dozens'>"+dozens+"</span><span class='units'>"+units+"</span>";
			}
			else if (remainingSeconds < 10) {
				remainingSeconds = "<span class='dozens'>0</span><span class='units'>"+remainingSeconds+"</span>";  
			}
			document.getElementById('countdown').innerHTML = "<span id='minute-amount' class='countdown-amount'>"+minutes + "</span><span id='minute-period' class='countdown-amount'><?php echo $this->__('Minute')?></span><span class='t-colon'>:</span>" + "<span id='second-amount' class='countdown-amount'>"+remainingSeconds+ "</span><span id='second-period' class='countdown-amount'><?php echo $this->__('Second')?></span>";
			seconds-- || (clearInterval(countdownTimer), callback());
		}, 1000);
		
	}
</script>
<?php */ ?>

<?php // Affilinet ?>
<script>
    (function (w, d, namespace, domain, progId, tagId, undefined) {
        w[namespace] = w[namespace] || {}; var act = w[namespace], payload = [];
        act.tags = act.tags || []; act.tags.push(tagId, payload);
        var protocol = d.location.protocol;

// Start editable part
        payload.push({
                module: 'OrderTracking',
                event: 'Sale',
                net_price: <?php echo $this->getGrandTotal(); ?>,
            order_id: '<?php echo $this->escapeHtml($this->getOrderIncrement());?>',
            rate_number: 1,
            voucher_code: '<?php echo $this->getCouponCode(); ?>'
    });
    // End editable part

    if (act.get === undefined) {
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.src = protocol + '//' + domain + '/' + 'affadvc.aspx?ns=' + namespace +
            '&dm=' + domain + '&site=' + progId + '&tag=' + tagId;
        s.async = false; // always keep false for standard tracking
        (d.getElementsByTagName('body')[0] || d.getElementsByTagName('head')[0]).appendChild(s);
    } else { act.get(w, d, progId, tagId); }
    })(window, document,
// Start editable part
        'aff_act_1.0', 'act.webmasterplan.com', 14901, 'TAG-ID-1');
    // End editable part
</script>
<noscript>
    <img src="https://partners.webmasterplan.com/TrackOrder.aspx?site=14901&event=sale&net_price=<?php echo $this->getGrandTotal(); ?>&order_id=<?php echo $this->escapeHtml($this->getOrderIncrement());?>&rate_number=1&voucher_code=<?php echo $this->getCouponCode(); ?>" />
</noscript>
<?php //End Affili ?>