<script type="text/javascript">
    var validateFlag = false;
    var validateShippingFlag = false;
    countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?>;
    jQuery(document).ready(function(){
        if(jQuery('#billing\\:postcode').val() != ''){
            validateFlag = true;
        }
        if(jQuery('#shipping\\:postcode').val() != ''){
            validateShippingFlag = true;
        }
    });
</script>
<div class="opc-wrapper-opc">
    <div class="checkout-steps">
        <ul>
            <li class="steps step-1 active"><span><?php echo $this->__('1. Your data');?></span></li>
            <li class="steps step-2"><span><?php echo $this->__('2. Checking your details');?></span></li>
            <li class="steps step-3"><span><?php echo $this->__('3. Done');?></span></li>
        </ul>
    </div>
	<div class="main-layout data-steps step-1">
		<?php echo $this->getChildhtml('checkout.cart');?>
	</div>

    <div class="main-layout detail-checking-steps step-2">
        <div class="address-data" id="validate-address-data">
            <form id="opc-address-form-billing">
                <?php echo $this->getChildHtml('billing')?>
            </form>

            <form id="opc-address-form-shipping" style="display:none">
            <?php echo $this->getChildHtml('shipping')?>
            </form>
        </div>

        <div class="shipment-payment">
            <?php if (!$this->getOnepage()->getQuote()->isVirtual()):?>
                <?php $address = $this->getOnepage()->getQuote()->getShippingAddress();

                $shippingPrices = array();
                foreach($address->getAllShippingRates() as $rate){
                    $shippingPrices[$rate->getCode()] = $rate->getPrice();
                }
                ?>
                <div class="shipping-block" <?php if (sizeof($shippingPrices)<=1): ?>style='display:none;'<?php endif; ?>>
                    <h3><?php echo $this->__('Shipping Method')?></h3>
                    <div id="shipping-block-methods">
                        <?php echo $this->getChildHtml('shipping_method');//$this->_getShippingMethodsHtml();?>
                    </div>
                </div>
            <?php endif;?>
            <div class="payment-block <?php if ($this->getOnepage()->getQuote()->isVirtual()):?>clear-margin<?php endif;?>">
                <h3><?php echo $this->__('Payment Method')?></h3>
                <?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();?>
            </div>

        </div>
        <span class="goto-step3"><?php echo $this->__('Next step');?></span>
    </div>
    <div class="main-layout thankyou-steps step-3" style="display: none;">
        <?php echo $this->getLayout()->createBlock('checkout/agreements')->setTemplate('opc/onepage/agreements.phtml')->toHtml();?>
        <div class="review-info">
            <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('opc/review.phtml')->toHtml();?>
            <?php echo $this->getChildhtml('review.checkout.cart');?>
        </div>
<!--        --><?php //echo $this->getLayout()->createBlock('core/template')->setTemplate('opc/onepage/review/button.phtml')->toHtml();?>
    </div>
    <input id="email-checked" value="0" type="hidden"/>
</div>
<?php
//echo $this->getLayout()->createBlock('jcustom/checkout_thankyou')->setTemplate('opc/success.phtml')->toHtml();
?>
<script>
	IWD.OPC.Checkout.config = '<?php echo $this->getJsonConfig()?>';
	<?php if ($this->getOnepage()->getQuote()->isVirtual()):?>
	IWD.OPC.Checkout.isVirtual = true;
	<?php endif;?>
    jQuery(document).ready(function(){
        jQuery('.goto-step3').click(function(){
            //var validator = new Validation('validate-address-data');
            //if (!validator.validate()) return false;
            var flag = false;
            jQuery('#co-payment-form input').each(function(){
                if(jQuery(this).is(':checked') == true){
                    flag = true;
                }
            });
            if(flag == false){
                alert('<?php echo $this->__('Please check payment method');?>');
                return false;
            }
            var valid = IWD.OPC.Billing.validateAddressForm();
            if (valid){
                IWD.OPC.Billing.save();
                if(jQuery('.packstation_shipping_address').is(':checked')||jQuery('.difference_shipping_address').is(':checked')){
                    var validShipping = IWD.OPC.Shipping.validateAddressForm();
                    if(validShipping){
                        //IWD.OPC.Shipping.save();
                        // save shipping address
                        setTimeout(function(){
                            var form = $j('#opc-address-form-shipping').serializeArray();
                            form = IWD.OPC.Checkout.applyShippingMethod(form);
                            IWD.OPC.Checkout.showLoader();
                            $j.post(IWD.OPC.Checkout.config.baseUrl + 'onepage/json/saveShipping',form, IWD.OPC.Checkout.prepareAddressResponse);
                        },300);
                        // end save shipping address

                        IWD.OPC.validatePayment();
                        jQuery('.main-layout').hide();
                        window.scrollTo(0, 0);
                        jQuery('div.step-3').show();
                        jQuery('.col-main .messages').remove();
                        jQuery('li.step-2').addClass('active');
                        return false;
                    }else{
                        window.scrollTo(0, 2010);
                        return false;
                    }
                }else{
                    IWD.OPC.validatePayment();
                    jQuery('.main-layout').hide();
                    window.scrollTo(0, 0);
                    jQuery('div.step-3').show();
                    jQuery('.col-main .messages').remove();
                    jQuery('li.step-2').addClass('active');
                    return false;
                }
            }else{
                window.scrollTo(0, 1210);
                return false;
            }

        });
        jQuery('.checkout-agreements a').click(function(){
            jQuery(this).prev('li').trigger('click');
        });
        /*
        if(jQuery('#billing\\:country_id').val() == 'DE'){
            jQuery('#billing\\:telephone').removeClass('validate-phoneStrict');
            jQuery('#billing\\:telephone').addClass('validate-german-phone');
        }
        if(jQuery('#shipping\\:country_id').val() == 'DE'){
            jQuery('#shipping\\:telephone').removeClass('validate-phoneStrict');
            jQuery('#shipping\\:telephone').addClass('validate-german-phone');
        }

        jQuery('#billing\\:country_id').change(function(){
            if(jQuery(this).val() == 'DE'){
                jQuery('#billing\\:telephone').removeClass('validate-phoneStrict');
                jQuery('#billing\\:telephone').addClass('validate-german-phone');
            }else{
                jQuery('#billing\\:telephone').removeClass('validate-german-phone');
                jQuery('#billing\\:telephone').addClass('validate-phoneStrict');
            }
        });

        jQuery('#shipping\\:country_id').change(function(){
            if(jQuery(this).val() == 'DE'){
                jQuery('#shipping\\:telephone').removeClass('validate-phoneStrict');
                jQuery('#shipping\\:telephone').addClass('validate-german-phone');
            }else{
                jQuery('#shipping\\:telephone').removeClass('validate-german-phone');
                jQuery('#shipping\\:telephone').addClass('validate-phoneStrict');
            }
        });
        */
    });
    function changeCustomerInfo(position){
        jQuery('.main-layout').hide();
        jQuery('div.step-1').show();
        jQuery('div.step-2').show();
        jQuery('li.step-2').removeClass('active');
        window.scrollTo(0, position);
        return false;
    }
</script>

<div class="opc-ajax-loader">
	<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</div>
<div class="opc-message-wrapper">
	
	<div class="opc-messages">
		<a class="close-message-wrapper"></a>
		<div class="opc-message-container"></div>
		<div class="opc-messages-action"><button class="button"><span><span><?php echo $this->__('Close')?></span></span></button></div>
	</div>
</div>