<tr style="display:none">
    <td colspan="<?php echo $this->getColspan(); ?>" style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right save-amount-total">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->escapeHtml($this->getTotal()->getTitle()); ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right save-amount-total">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
</tr>

<script type="text/javascript">
    jQuery(function(){
        if(jQuery('.checkout-review .save-amount-total .price').length > 0){
            var priceHtml = jQuery('.checkout-review .save-amount-total .price').html();
            var price = priceHtml.match(/[\d\,]+/);
            jQuery('.you-have-saved span').html(price);
            jQuery('.you-have-saved').show();
        }
        jQuery('.step-1 .save-amount-total').parent().appendTo(".step-1 .totals table tfoot");
        jQuery('.step-1 .save-amount-total').parent().show();
    })
</script>