<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
/**
 * - Removed top "checkout" button
 * - Added table wrapper (to show background image)
 * - Changed "continue shopping" button and "update cart" button
 * - Added class 'last' in table header last cells
 * - Rearranged layout of 'cart-collaterals'
 */
?>
<div class="cart">
    <div class="page-title title-buttons">
        <h1><?php echo $this->__('Basket') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <?php echo $this->getBlockHtml('formkey'); ?>
        <fieldset>
            <div class="cart-table-wrapper">
                <table id="shopping-cart-table" class="data-table cart-table">
                    <col class="col-img" width="1" />
                    <col width="1" />
                <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                    <col class="<?php if($this->helper('tax')->displayCartBothPrices()) echo 'col-total-excl'; else echo 'col-total'; ?>" width="1" />
                <?php endif; ?>
                <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                    <col class="<?php if($this->helper('tax')->displayCartBothPrices()) echo 'col-total-incl'; else echo 'col-total'; ?>" width="1" />
                <?php endif; ?>

                <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                    <thead>
                        <tr>
                            <th class="col-img" rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                            <th class="a-center" colspan="<?php echo $mergedCells; ?>">
                                <span class="main-amount-text"><?php echo $this->__('Amount') ?></span>
                                <span class="more-info"><?php echo $this->__('Vat included');?></span>
                            </th>
                        </tr>
                        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                        <tr>
                            <th class="col-unit-price a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                            <th class="col-unit-price"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                            <th class="col-total-excl a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                            <th class="col-total-incl"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                        </tr>
                        <?php endif; ?>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="50" class="a-right">
                                <span class="text">* <?php echo $this->__('The shipping costs will be calculated once they have entered their data');?></span>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                    <?php foreach($this->getItems() as $_item): ?>
                        <?php echo $this->getItemHtml($_item) ?>
                    <?php endforeach ?>
                    <tr>
                        <td><?php echo $this->__('Shipping costs')?></td>
                        <td>
                            <?php
                            if (Mage::getStoreConfig('tax/cart_display/shipping') == 1):
                                echo Mage::helper('core')->formatPrice(Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()->getShippingAmount(), true);
                            else:
                                echo Mage::helper('core')->formatPrice(Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()->getShippingInclTax(), true);
                            endif;
                            ?>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script type="text/javascript">decorateTable('shopping-cart-table')</script>
            </div>
        <!-- end: cart-table-wrapper -->
        </fieldset>
    <div class="cart-collaterals nested-container">
    	<div class="cart-right-column grid12-4">
            <div class="totals grid-full alpha omega">
                <div class="totals-inner checkout-review">
                <?php echo $this->getChildHtml('totals'); ?>
                <?php if(!$this->hasError()): ?>
                    <ul class="checkout-types">
                    <?php foreach ($this->getMethods('methods') as $method): ?>
                    	<?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                    		<li><?php echo $methodHtml; ?></li>
                    	<?php endif; ?>
                    <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
                </div>
            </div>
        </div> <!-- end: cart-right-column -->
    </div>
    <div class="placeorder-message">
        <strong><?php $this->__('100% safe');?></strong>
        <span class="text"><?php $this->__('pay & order');?></span>
    </div>
    <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('opc/onepage/review/button.phtml')->toHtml();?>
    <div class="you-have-saved" style="display: none;"><?php echo $this->__('Sie sparen heute insgesamt')?> -<span></span> <?php echo $this->__('EUR') ?></div>
</div>