<?php
/**
 * @see Mage_Checkout_Block_Agreements
 */
?>
<?php if (!$this->getAgreements()) return; ?>
<form action="" id="checkout-agreements" onsubmit="return false;">
<ol class="checkout-agreements">
<?php foreach ($this->getAgreements() as $_a): ?>
    <li>
        <div id="agreement-block-<?php echo $_a->getId();?>" class="agreement-content <?php if (Mage::helper('opc')->getTermsType()):?>hidden<?php endif?>"<?php echo ($_a->getContentHeight() ? ' style="height:' . $_a->getContentHeight() . '"' : '')?>>
            <?php if ($_a->getIsHtml()):?>
                <?php echo $_a->getContent() ?>
            <?php else:?>
                <?php echo nl2br($this->htmlEscape($_a->getContent())) ?>
            <?php endif; ?>
        </div>
        <p class="agree">
            <input type="checkbox" id="agreement-<?php echo $_a->getId()?>" name="agreement[<?php echo $_a->getId()?>]" value="1" class="checkbox required-entry" />
            <label for="agreement-<?php echo $_a->getId()?>" data-id="<?php echo $_a->getId();?>"><?php echo $_a->getIsHtml() ? $_a->getCheckboxText() : $this->htmlEscape($_a->getCheckboxText()) ?></label>
        </p>
    </li>
<?php endforeach ?>
    <div style="display:none" id="message-select-agreements"><?php echo $this->__('Sie müssen die AGB akzeptieren und Widerrufs-Bedingungen zur Kenntnis nehmen'); ?></div>
</ol>
<div class="comment-block">
    <h3><?php echo $this->__('Comments on your order (max 500 characters)')?></h3>
    <div class="discount">
        <div class="discount-form">
            <div class="input-box">
                <textarea class="input-text" id="customer_comment" name="customer_comment"></textarea>
            </div>
        </div>
    </div>
</div>
</form>

<?php if (Mage::helper('opc')->getTermsType()):?>
<!-- Modal -->
<div class="modal fade" id="agreement-dialog" tabindex="-1" role="dialog" aria-labelledby="agreement-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="agreement-title"></h4>
      </div>
      <div class="modal-body" id="agreement-modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span><span><?php echo $this->__('Close')?></span></span></button>        
      </div>
    </div>
  </div>
</div>
<?php endif;?>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('.agree input').click(function(){
        if(jQuery('#agreement-1').is(':checked')==false){
            jQuery('#message-select-agreements').html('<?php echo $this->__('Sie müssen die AGB akzeptieren'); ?>')
        }
        if(jQuery('#agreement-2').is(':checked')==false){
            jQuery('#message-select-agreements').html('<?php echo $this->__('Sie müssen die Widerrufs-Bedingungen zur Kenntnis nehmen'); ?>')
        }
        if(jQuery('#agreement-1').is(':checked')==false && jQuery('#agreement-2').is(':checked')==false){
            jQuery('#message-select-agreements').html('<?php echo $this->__('Sie müssen die AGB akzeptieren und Widerrufs-Bedingungen zur Kenntnis nehmen'); ?>')
        }
    });
  jQuery('#subscribe').on('click', function(){
    if(jQuery('#subscribe').is(':checked')){
      jQuery('#overlay-popup').show();
      jQuery('#login-popup-container').show();
    };
  });

  jQuery('.subscribe').on('click', function(){
    if(jQuery('#subscribe').is(':checked')){
      jQuery('#subscribe').attr('checked',false);
      jQuery('#overlay-popup').hide();
      jQuery('#login-popup-container').hide();
    }else{
      jQuery('#subscribe').attr('checked','checked');
      jQuery('#overlay-popup').show();
      jQuery('#login-popup-container').show();
    };
  });
});
</script>

<style type="text/css">
.subscribe{
  color: #676767;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
</style>