<?php
$passedEmail = Mage::getSingleton('checkout/session')->getUserEmail();
if ($passedEmail) {
	$customerCheck = Mage::getModel("customer/customer")
		->setWebsiteId(Mage::app()->getWebsite()->getId())
		->loadByEmail($passedEmail);

	if ($customerCheck->getId()) {
		$userEmailAddress = $passedEmail;
	}
}
?>
<div id="myModal" style="display:none;">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel"><?php echo $this->__('Login to your Account')?></h4>
		</div>
		<div class="modal-body">
			<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
				<?php echo $this->getBlockHtml('formkey'); ?>
				<div>
					<ul class="form-list">
						<li>
							<label for="email" class="required"><?php echo $this->__('Email Address') ?><em>*</em></label>
							<div class="input-box">
								<input type="text" name="login[username]" value="<?php echo isset($userEmailAddress) ? $userEmailAddress : $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
							</div>
						</li>
						<li>
							<label for="pass" class="required"><?php echo $this->__('Password') ?><em>*</em></label>
							<div class="input-box">
								<input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
							</div>
						</li>

					</ul>
				</div>
				<input name="context" type="hidden" value="checkout" />
			</form>
			<?php echo $this->getChildhtml('forgotPassword');?>
		</div>
		<div class="modal-footer">
			<div id="login-button-set">
				<a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left restore-account"><?php echo $this->__('Forgot Your Password?') ?></a>
				<button type="button" class="btn btn-primary button"><span><span><?php echo $this->__('Login') ?></span></span></button>
				<div class="clearer"></div>
			</div>
			<div id="forgotpassword-button-set" style="display:none">
				<p class="back-link"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
				<button type="button" title="<?php echo $this->__('Submit') ?>" class="btn button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	var dataForm1 = new VarienForm('login-form', true);
	<?php if (isset($customerCheck) && $customerCheck->getId()): ?>
	jQuery(function($) {
		$("#customer_signin").click();
	});
	<?php endif; ?>
	//]]>
</script>