<?php
$_productCollection = $this->getLoadedProductCollection();
?>
<?php if ($_productCollection && ($_collectionSize = $this->getCollectionCount())): ?>
    <?php
    $_helper = $this->helper('catalog/output');
    $theme = $this->helper('ultimo');
    $helpLabels = $this->helper('ultimo/labels');
    $helpTemplate = $this->helper('ultimo/template');
    $helpImg = $this->helper('infortis/image');
    $sliderClasses = '';
    $gridClasses = '';

    $sliderId = "itemslider-featured-{$this->getFrontendHash()}";

    //Slider parameters
    //--------------------------------------------------------------

    //Responsive mode on/off
    $isResponsive = $this->getIsResponsive(); //param: is_responsive
    if ($isResponsive === NULL) //Param not set
    {
        $isResponsive = true; //IMPORTANT: enabled by default
    }

    //Assign number of items in a row to specific viewport width
    $breakpoints = $this->getBreakpoints(); //param: breakpoints
    if ($breakpoints === NULL) //Param not set
    {
        $breakpoints = '[0, 1], [320, 2], [480, 3], [768, 4], [960, 5], [1280, 6]'; //Set default breakpoints
    }
    $breakpoints = str_replace(']', '}', $breakpoints);
    $breakpoints = str_replace('}, ', '},', $breakpoints);
    $breakpoints = str_replace(', ', ':{ items: ', $breakpoints);
    $breakpoints = str_replace('[', '', $breakpoints);

    //Number of items in a row displayed if responsive mode is off
    $showItems = $this->getShowItems(); //param: show_items
    if (!$showItems) //Param not set or equals zero
    {
        $showItems = 4; //Set default number of items
    }

    //Pagination on/off
    $pagination = $this->getPagination(); //param: pagination

    //Slider initial delay
    $initDelay = 0;
    $initDelay = intval($this->getInitDelay()); //param: init_delay

    //Image width
    $imgWidth = $this->getImgWidth(); //param: img_width
    if ($imgWidth === NULL) //Param not set
    {
        $imgWidth = 175; //Set default value
    }
    else
    {
        $imgWidth = intval($imgWidth);
    }

    //Image aspect ratio
    if ($theme->getCfg('category/aspect_ratio'))
    {
        $imgHeight = 0; //Keep aspect ratio - height will be calculated automatically based on width
    }
    else
    {
        $imgHeight = $imgWidth; //Don't keep aspect ratio - height is the same as width
    }

    //Image height
    if ($this->getImgHeight() !== NULL) //param: img_height
    {
        //If param is set, it overrides default height and aspect ratio settings
        $imgHeight = intval($this->getImgHeight());
    }else{
        $imgHeight = 246;
    }

    //Slider timeout. Set to enable automatic scrolling.
    $timeout = $this->getTimeout(); //param: timeout
    if ($timeout === NULL) //Param not set
    {
        $timeout = intval($theme->getCfg('product_slider/timeout'));
    }
    else
    {
        $timeout = intval($timeout);
    }

    //If set, slider will loop
    $loop = $this->getLoop(); //param: loop
    if ($loop === NULL) //Param not set
    {
        $loop = $theme->getCfg('product_slider/loop');
    }

    //Speed (arrows / touch swipe)
    $speed = intval($theme->getCfg('product_slider/speed'));

    //Speed (automatic scrolling / pagination)
    $autoSpeed = intval($theme->getCfg('product_slider/auto_speed'));

    //Pause slider on mouse hover
    $pause = $theme->getCfg('product_slider/pause');

    //Lazy loading
    $lazy = $theme->getCfg('product_slider/lazy');

    //Slider classes
    //--------------------------------------------------------------
    if($isResponsive)
    {
        $sliderClasses .= ' itemslider-responsive';
    }

    if ($_collectionSize == 1)
    {
        $sliderClasses .= ' single-item';
    }

    //Product grid classes
    //--------------------------------------------------------------
    //Size of grid elements
    $size = $this->getSize(); //param: size
    if ($size)
    {
        $gridClasses = ' ' . $size;
    }
    else
    {
        if ($showItems >= 8)
        {
            $gridClasses = ' size-xs';
        }
        elseif ($showItems >= 6)
        {
            $gridClasses = ' size-s';
        }
    }

    //Align elements to the center
    if ($this->getCentered()) //param: centered
    {
        $gridClasses .= ' centered';
    }

    //Set equal height for all items
    if ($this->getEqualHeight()) //param: equal_height
    {
        $gridClasses .= ' equal-height';
    }
    ?>
    <h2 class="top-download-title"><?php echo $this->__('Die Top-Downloads des Monats'); ?></h2>
    <div class="itemslider-wrapper slider-arrows1 slider-arrows1-pos-top-right slider-pagination1">
        <div id="<?php echo $sliderId; ?>" class="itemslider<?php if($sliderClasses) echo $sliderClasses; ?> products-grid<?php if($gridClasses) echo $gridClasses; ?>">
            <?php foreach ($_productCollection as $_product): ?>
                <div class="item">

                    <div class="product-image-wrapper" style="max-width:<?php echo $imgWidth; ?>px;">

                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" class="product-image">

                            <?php if ($lazy): ?>
                                <img class="lazyOwl" data-src="<?php echo $helpImg->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>" src="<?php echo $helpImg->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" />
                            <?php else: ?>
                                <img width="<?php echo $imgWidth; ?>" height="<?php echo $imgHeight; ?>" src="<?php echo $helpImg->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" />
                            <?php endif; ?>

                            <?php if ($theme->getCfg('category/alt_image')): ?>
                                <?php echo $theme->getAltImgHtml($_product, $imgWidth, $imgHeight); ?>
                            <?php endif; ?>

                            <?php echo $helpLabels->getLabels($_product); //Product labels ?>
                        </a>

                    </div> <!-- end: product-image-wrapper -->

                    <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                    <?php if($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php
                    if($_product->getTypeId()=='grouped'):
                        $_coreHelper = $this->helper('core');
                        ?>
                        <?php  $price = $this->getMinimalPrice($_product); ?>
                        <div class="price-box">
                            <span class="price price-label"><?php echo $this->__('ab') ?></span>
                            <span class="price" id="product-price-<?php echo $_product->getId(); ?><?php echo $this->getIdSuffix() ?>">
                                <?php echo $_coreHelper->formatPrice($price, false) ?>
                            </span>
                        </div>

                    <?php endif; ?>
                </div>
            <?php endforeach; ?>
        </div> <!-- end: itemslider -->
    </div> <!-- end: itemslider-wrapper -->
    <script type="text/javascript">
        //<![CDATA[
        jQuery(function($) {

            var owl = $('#<?php echo $sliderId; ?>');
            owl.owlCarousel({

                <?php if ($lazy): ?>
                lazyLoad: true,
                <?php endif; ?>

                <?php if(!$isResponsive): ?>
                responsive: false,
                items: <?php echo $showItems; ?>,
                <?php else: ?>
                responsive: { <?php echo $breakpoints; ?> },
                responsiveRefreshRate: 50,
                <?php endif; ?>

                <?php if ($speed): ?>
                slideSpeed: <?php echo $speed; ?>,
                <?php endif; ?>

                <?php if ($autoSpeed): ?>
                autoplaySpeed: <?php echo $autoSpeed; ?>,
                <?php endif; ?>

                scrollPerPage: false,

                <?php if ($timeout): ?>
                autoplayTimeout: <?php echo $timeout; ?>,
                autoplay: true,
                <?php endif; ?>

                <?php if ($pause): ?>
                stopOnHover: true,
                autoplayHoverPause: true,
                <?php endif; ?>

                <?php if ($loop): ?>
                loop:true,
                <?php else: ?>
                loop: false,
                <?php endif; ?>
                dots: false,
                nav: true

            }); //end: owl

        });
        //]]>
    </script>
<?php endif; ?>
