<?php
$session = Mage::getSingleton('core/session');
$data = $session->getNewsletterData();
$email = $session->getNewsletterEmail() ? : $data['email'];
$prefixOptions = $this->helper('customer')->getNamePrefixOptions();
$label = "Bitte vervollständigen Sie Ihre Daten";
if ($session->getCompleteFormStatus()) {
    $label = "Sie haben folgende Daten gespeichert";
    $session->unsCompleteFormStatus();
}
?>
<style type="text/css">
    .address-data .form-list label {
        text-align: right;
        padding-right: 10px;
        width: 130px;
        font-weight: bold;
    }
    .address-data .form-list input.validate-zip-international {
        width: 550px;
    }
    .address-data .page-title label {
        width: 100%;
        text-align: left;
        margin-left: 140px;
        margin-bottom: 15px;
        padding: 0;
    }
    .form-list .field {
        margin-bottom: 10px;
    }
    .submit-button {
        padding-left: 140px;
        padding-top: 10px;
    }
    .submit-button button span span {
        width: 191px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        font-size: 18px;
    }
    .info-block .info-text {
        padding-left: 140px;
        padding-top: 10px;
        font-size: 14px;
        color: #4b4b4b;
    }
    .info-block .info-img {
        padding-top: 30px;
        padding-left: 84px;
    }
    .info-block .info-img > div {
        float: left;
        width: 220px;
        margin-right: 12px;
        font-size: 14px;
        text-align: center;
    }
    .info-block .info-img p {
        margin: 15px 0;
    }
    .info-block .info-hint {
        color: black;
        padding-left: 140px;
        padding-top: 10px;
        padding-bottom: 40px;
        font-size: 9px;
    }
</style>
<div class="address-data">
    <form action="<?php echo $this->getUrl('newsletter/subscriber/formPost') ?>" method="post" id="newsletterForm">
        <ul class="form-list">
            <li class="page-title">
                <label><?php echo $label ?></label>
            </li>
            <li class="address-form">
                <fieldset>
                    <ul>
                        <li class="fields">
                            <label></label>
                            <div class="input-box">
                                <p>Ich möchte den Markt+Technik Newsletter erhalten.</p>
                                <p>Die Hinweise zum <a href="https://www.mut.de/datenschutz/">Datenschutz</a> habe ich gelesen.</p>
                            </div>
                        </li>
                        <li class="wide">
                            <label for="email">E-Mail:</label>
                            <div class="input-box">
                                <input type="text" title="E-Mail" name="email" id="email" value="<?php echo $email ?>" class="input-text required-entry validate-email" />
                            </div>
                        </li>
                        <li class="fields">
                            <div class="customer-name-prefix">
                                <div class="field name-prefix">
                                    <label for="prefix">Anrede:</label>
                                    <div class="input-box">
                                        <select id="prefix" name="prefix" title="Anrede">
                                            <?php foreach ($prefixOptions as $_option): ?>
                                                <?php
                                                $_selected = '';
                                                if ($data['prefix'] && $data['prefix'] == $_option) {
                                                    $_selected = ' selected="selected"';
                                                } else if ($_option == 'Herr') {
                                                    $_selected = ' selected="selected"';
                                                }
                                                ?>
                                                <option value="<?php echo $_option?>"<?php echo $_selected; ?>><?php echo $this->__($_option)?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="field name-firstname">
                                    <label for="firstname">Vorname:</label>
                                    <div class="input-box">
                                        <input type="text" id="firstname" name="firstname" value="<?php echo $data['firstname'] ?>" title="Vorname" maxlength="255" class="input-text required-entry">
                                    </div>
                                </div>
                                <div class="field name-lastname">
                                    <label for="lastname" class="required">Nachname:</label>
                                    <div class="input-box">
                                        <input type="text" id="lastname" name="lastname" value="<?php echo $data['lastname'] ?>" title="Nachname" maxlength="255" class="input-text required-entry">
                                    </div>
                                </div>
                            </div>
                            <div class="field street">
                                <label for="street">Strasse:</label>
                                <div class="input-box">
                                    <input type="text" title="Strasse" name="street" id="street" value="<?php echo $data['street'] ?>" class="input-text required-entry" />
                                </div>
                            </div>
                            <div class="field postcode">
                                <label for="postcode">PLZ:</label>
                                <div class="input-box">
                                    <input type="text" title="PLZ" name="postcode" id="postcode" value="<?php echo $data['postcode'] ?>" class="input-text validate-zip-international required-entry" />
                                </div>
                            </div>
                            <div class="field city">
                                <label for="city">Ort:</label>
                                <div class="input-box">
                                    <input type="text" title="Ort" name="city" id="city" value="<?php echo $data['city'] ?>" class="input-text required-entry" />
                                </div>
                            </div>
                            <div class="field country">
                                <label for="country_id">Land:</label>
                                <div class="input-box">
                                    <?php
                                    $countryId = $data['country_id'] ? : Mage::helper('core')->getDefaultCountry();
                                    $select = $this->getLayout()->createBlock('core/html_select')
                                        ->setName('country_id')
                                        ->setId('country_id')
                                        ->setTitle('Land')
                                        ->setClass('validate-select')
                                        ->setValue($countryId)
                                        ->setOptions($this->getCountryOptions());
                                    echo $select->toHtml();
                                    ?>
                                </div>
                            </div>
                        </li>
                        <div class="field newsletter-subscribe-input">
                            <label></label>
                            <div class="input-box">
                                <input type="checkbox" title="Subscriber" name="is_subscriber" id="is_subscriber" value="1" class="input-checkbox required-entry" />
                                <label for="is_subscriber">Ja, ich bin damit einverstanden, dass Markt+Technik aus meinem Kauf- und Nutzungsverhalten personenbezogene Profile erstellt, um Werbe- und Webangebote besser auf meine persönlichen Interessen auszurichten (Weitere Informationen). Die Einwilligung ist jederzeit für die Zukunft unter info@mut.de widerrufbar.</label>
                            </div>
                        </div>
                    </ul>
                </fieldset>
            </li>
            <li class="submit-button">
                <?php echo $this->getChildHtml('studioforty9.recaptcha.explicit'); ?>
                <button class="button" type="submit">
                    <span>
                        <span>Jetzt anmelden</span>
                    </span>
                </button>
            </li>
            <li class="info-block">
                <div class="info-text">
                    <h5 class="info-text-title">
                        Ihre Vorteile:
                    </h5>
                    <ul class="ext-advancetage">
                        <li>10% Willkommens-Gutschein* bei Ihrem nächsten Einkauf</li>
                        <li>Deals bis 90% Ersparnis</li>
                        <li>Neuheiten als Erster erfahren</li>
                        <li>GRATIS Vollversionen</li>
                        <li>neueste Software probefahren</li>
                    </ul>
                </div>

                <div class="info-text">
                    <p>
                        Vielen Dank das Sie sich zum MuT Newsletter angemeldet haben.<br>
                        In wenigen Augenblicken erhalten Sie eine E-Mail.<br>
                        Bitte klicken Sie auf den darin enthaltenen Link, um Ihre MuT Newsletter-Anmeldung zu aktivieren.
                    </p>
                </div>
                <div class="info-text">
                    <p>
                        Einen Muster-Newsletter zur Ansicht finden Sie <a href="http://www.mt66.de/newsletter/mut_partner/neuerscheinung/excel_formeln/index.html">hier</a>. Selbstverständlich können Sie sich jederzeit problemlos vom Newsletter wieder abmelden. Am Ende eines jeden Newsletters finden Sie einen entsprechenden Abmeldelink.
                    </p>
                </div>
                <div class="info-img">
                    <div class="img-1">
                        <img src="<?php echo $this->getSkinUrl('images/newsletter-form-img1.jpg') ?>">
                        <p>
                            Posteingang öffnen<br>
                            und Anmeldung bestätigen.
                        </p>
                    </div>
                    <div class="img-2">
                        <img src="<?php echo $this->getSkinUrl('images/newsletter-form-img2.jpg') ?>">
                        <p>
                            Gutschein-Code<br>
                            per E-Mail erhalten.
                        </p>
                    </div>
                    <div class="img-3">
                        <img src="<?php echo $this->getSkinUrl('images/newsletter-form-img3.jpg') ?>">
                        <p>
                            Gutschein-Code im<br>
                            Warenkorb eingeben<br>
                            und so Geld sparen.
                        </p>
                    </div>
                </div>
                <div class="clearer"></div>
                <div class="info-hint">
                    <p><b>Hinweis:</b> Manche E-Mail-Provider sortieren Gutscheine in den Spam-Ordner. Bitte prüfen Sie also auch Ihren Spam-Ordner.</p>
                </div>
            </li>
        </ul>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var newsletterForm = new VarienForm('newsletterForm');
        Validation.add('validate-email', 'Please enter a valid email address. For example johndoe@domain.com.', function(v) {
            var emailInput = v.trim();
            return Validation.get('IsEmpty').test(emailInput) || /^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(emailInput);
        });
        var autoSubmitNewsletter = '';
        jQuery(document).ready(function() {
            if (Validation.validate('email') && jQuery('#is_subscriber').is(":checked")) {
                autoSubmitNewsletter = setTimeout(function() {
                    jQuery('#newsletterForm').submit();
                }, 30000);
            }
            jQuery('#is_subscriber').on('change',
                function() {
                    Validation.validate('is_subscriber');
                }
            );
        });

        jQuery("#newsletterForm :input").change(function() {
            if (autoSubmitNewsletter!='') {
                clearTimeout(autoSubmitNewsletter);
            }
            if (Validation.validate('email') && jQuery('#is_subscriber').is(":checked")) {
                autoSubmitNewsletter = setTimeout(function() {
                    jQuery('#newsletterForm').submit();
                }, 30000);
            }
        });
        //]]>
    </script>
</div>
