<?php
/* @var $this Ebizmarts_MageMonkey_Block_Lists */
$email = Mage::getSingleton('core/session')->getNewsletterUnsubscribeEmail();
$lists = $this->getLists();
$generalList = $this->getGeneralList();
?>
<style type="text/css">
    .monkey-multisubscribe {
        font-size: 14px;
        color: #4b4b4b;
        border: 1px solid #cdcdcd;
        padding: 25px 180px 90px;
        margin-top: 50px;
    }
    .monkey-multisubscribe .list-label, .monkey-multisubscribe input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
    .monkey-multisubscribe .page-title h1 {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .monkey-multisubscribe #monkey-email {
        color: #4b4b4b;
        width: 550px;
        height: 30px;
        line-height: 30px;
        padding: 0 14px;
    }
    .monkey-multisubscribe label {
        position: relative;
        padding-left: 25px;
    }
    .monkey-multisubscribe label:before {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 2px;
        left: 0;
        content: "";
        cursor: pointer;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid #4b4b4b;
    }
    .monkey-multisubscribe input:disabled + label:before, .monkey-multisubscribe input:disabled + label:after {
        opacity: 0.5;
    }
    .monkey-multisubscribe input[type="checkbox"]:checked + label:after {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 6px;
        left: 4px;
        content: "";
        border-radius: 8px;
        background: #4b4b4b;
    }
    .monkey-multisubscribe li {
        margin: 15px 0;
    }
    .monkey-multisubscribe .before-list {
        margin: 10px 0 4px;
        line-height: 30px;
    }
    .monkey-multisubscribe .fieldset {
        padding: 0;
    }
    .monkey-multisubscribe .uns-label {
        font-size: 9px;
        padding-top: 3px;
    }
    .monkey-multisubscribe .main-label {
        margin: 50px 0 15px;
        display: block;
    }
    .monkey-multisubscribe .uns-check {
        margin-top: 50px;
    }
    .monkey-multisubscribe .button {
        margin: 15px 25px;
    }
    .monkey-multisubscribe .button span span {
        width: 140px;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
    }
</style>
<div class="monkey-multisubscribe">
    <div class="page-title">
        <h1><?php echo $this->__('Newsletter-Einstellungen'); ?></h1>
    </div>
    <p class="before-list">
        Hier können Sie die MuT-Newsletter ganz nach Ihrem Wünschen konfigurienen.<br>
        Sie sind mit der folgender E-Mail bei uns angemeldet:
    </p>
    <form action="<?php echo $this->getSaveUrl(); ?>" name="mailchimp_additional" id="mailchimp-additional" method="post">
        <input type="text" name="monkey_email" id="monkey-email" value="<?php echo $email; ?>" class="input-text validate-email"/>
        <div class="fieldset">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <ul class="monkey-additional-lists">
                <!-- General Subscription -->
                <li class="listdata">
                    <div class="list-label">
                        <?php echo $this->listLabel($generalList); ?>
                    </div>
                    <?php if ($generalList['interest_groupings'] && is_array($generalList['interest_groupings'])): ?>

                        <div id="interest_groupings_<?php echo $generalList['id']; ?>" class="interest-groupings">
                            <?php foreach ($generalList['interest_groupings'] as $group): ?>
                                <strong class="main-label">Welche Newsletter möchten Sie gerne 1-mal pro Woche erhalten:</strong>
                                <?php if ($group['name'] != 'MAGE_CUSTOMER_GROUPS' && $this->hasGroupSelected($group)): ?>
                                    <div class="grouping">
                                        <?php
                                        $html = $this->renderGroup($group, $generalList);
                                        $html = str_replace('>Deals<', '>MuT Deals (mit bis zu 95% Ersparnis)<', $html);
                                        $html = str_replace('>Download-Deals<', '>MuT Download-Deals (mit bis zu 97% Ersparnis)<', $html);
                                        $html = str_replace('>Partner-Angebote<', '>MuT Partner-Angebote<', $html);
                                        $html = str_replace('>Angebot der Woche<', '>MuT Angebot der Woche<', $html);
                                        $html = str_replace('>Neuerscheinungen<', '>MuT Neuerscheinungen<', $html);
                                        echo $html;
                                        ?>
                                    </div>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </div>

                    <?php endif; ?>
                </li>
                <!-- General Subscription -->

                <!-- Additional Lists -->
                <?php
                foreach ($lists as $list):
                    $igroups = $list['interest_groupings'];
                    ?>

                    <li class="listdata"><?php echo $this->listLabel($list); ?>
                        <?php if ($igroups && is_array($igroups)): ?>
                            <div id="interest_groupings_<?php echo $list['id']; ?>" class="interest-groupings">
                                <?php foreach ($igroups as $group): ?>
                                    <?php if ($group['name'] != 'MAGE_CUSTOMER_GROUPS' && $this->hasGroupSelected($group)): ?>
                                        <div class="grouping">
                                            <strong><?php echo $group['name']; ?></strong>
                                            <?php echo $this->renderGroup($group, $list); ?>
                                        </div>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>

                        <?php endif; ?>
                    </li>

                <?php endforeach; ?>
                <!-- Additional Lists -->
                <div class="uns-check">
                    <input type="checkbox" id="unsubscribe">
                    <label for="unsubscribe" class="uns-label">
                        Ich will mich von allen MUT Newsletter abmelden und verzichte somit auf die exklusiven Schnäppchen-Angebote
                    </label>
                </div>
            </ul>
        </div>

        <input type="hidden" name="state" value="" id="form-state"/>
        <button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
    </form>
</div>
<script type="text/javascript">
    document.observe("dom:loaded", function () {
        //Handle newsletter subscribe/unsubscribe checkbox events
        $$('input.monkey-list-subscriber').each(function (chk) {

            if (!chk.checked) {
                var groupings = $('interest_groupings_' + chk.value);
                if (groupings) {
                    groupings.select('select', 'input').invoke('writeAttribute', 'disabled', 'disabled');
                }
            }

            chk.observe('change', function () {

                var groupings = $('interest_groupings_' + this.value);
                if (groupings) {
                    var elements = groupings.select('select', 'input');
                    if (this.checked) {
                        elements.invoke('removeAttribute', 'disabled');
                    } else {
                        elements.invoke('writeAttribute', 'disabled', 'disabled');
                    }
                }

            });
        });

        $$('.mailchimp_extra_field').each(function (field) {
            field.observe('change', function () {
                if (!$(field.name) && field.value != "") {
                    var inputer = new Element('input', {
                        id: field.name,
                        value: field.value,
                        type: "hidden"
                    });
                    $('form-state').appendChild(inputer);
                }
            });
        });

        //Load viewstate on hidden field for later process
        $('form-state').writeAttribute('value', $('mailchimp-additional').serialize());
        jQuery(function($) {
            if (!$('.list-label input').is(':checked')) {
                $('#unsubscribe').prop('checked', true);
            }
            $('#unsubscribe').change(function() {
                $('.list-label input').click();
            });
        });
        var unsForm = new VarienForm('mailchimp-additional');
        Validation.add('validate-email', 'Please enter a valid email address. For example johndoe@domain.com.', function(v) {
            var emailInput = v.trim();
            return Validation.get('IsEmpty').test(emailInput) || /^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(emailInput);
        });
    });
</script>
