<?php
/* newsletter popup on homepage, product details page and listing page */
?>
<div id="nl-popup-container" style="display:none;">
    <div class="nl-popup">
        <div class="nl-popup-head">
            <a class="close" href="#"><span><?php echo $this->__('Schliessen') ?></span></a>
            <div class="clearer"></div>
        </div>
        <div class="nl-popup-main">
            <div class="nl-inner">
                <div class="nl-content">
                    <div class="nl-left">
                        <h3><?php echo $this->__('Ihre Vorteile') ?></h3>
                        <ul>
                            <li><?php echo $this->__('Kein Mindestbestellwert') ?></li>
                            <li><?php echo $this->__('Deals bis 90% Ersparnis') ?></li>
                            <li><?php echo $this->__('Neuheiten zuerst erfahren') ?></li>
                            <li><?php echo $this->__('GRATIS Vollversionen') ?></li>
                            <li><?php echo $this->__('neueste Software probefahren') ?></li>
                        </ul>
                    </div>
                    <div class="nl-right">
                        <form action="<?php echo $this->getUrl('newsletter/subscriber/popupPost') ?>" id="nl_popup_form">
                            <input type="text" name="email" id="nl_popup_email" class="input-text required-entry validate-email" placeholder="<?php echo $this->__('Ihre E-Mail-Addresse*') ?>" />
                            <button type="submit" title="<?php echo $this->__('GRATIS ANMELDEN') ?>" class="button"><span><span><?php echo $this->__('GRATIS ANMELDEN') ?></span></span></button>
                        </form>
                    </div>
                    <div class="clearer"></div>
                </div>
                <div class="nl-footer">
                    <div class="nl-top">
                        <p>
                            Sie können sich jederzeit abmelden. Ihre Daten werden vertraulich behandelt.<br>
                            Lesen Sie unsere Hinweise zum <a href="<?php echo $this->getUrl('datenschutz') ?>" target="_blank">Datenschutz</a>.
                        </p>
                    </div>
                    <div class="nl-bot">
                        <p>
                            <span>*</span> Voraussetzung ist das Abonnement des MuT Newsletters. Gültig für 14 Tage nach Erhalt des Gutschein Codes.<br>
                            Die Kombination mit anderen Gutscheinen und Aktionen ist ausgeschiossen. Nicht anwendbar für Bücher und E-Books.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var nlPopupForm = new VarienForm('nl_popup_form');
    Validation.add('validate-email', 'Please enter a valid email address. For example johndoe@domain.com.', function(v) {
        var emailInput = v.trim();
        return Validation.get('IsEmpty').test(emailInput) || /^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(emailInput);
    });
    jQuery(function($) {
        $('.nl-popup-head .close, #nl-overlay').click(function(e) {
            e.preventDefault();
            $('#nl-overlay').hide();
            $('#nl-popup-container').hide();
            $('body').removeClass('stop-scrolling');
        });

        $('#nl_footer_link').click(function(e) {
            e.preventDefault();
            showNewsletterLayer();
        });

        if (localStorage.getItem("firstTime") == null) {
            setTimeout(function() {
                showNewsletterLayer();
                localStorage.setItem("firstTime", "done");
            }, 10000);
        }
    });
    function showNewsletterLayer() {
        if (jQuery(window).width() < 768) {
            return false;
        }
        var overlay = jQuery('#nl-overlay');
        if (!overlay.length) {
            overlay = jQuery('<div id="nl-overlay"></div>');
            jQuery(document.body).append(overlay);
        }
        var layer = jQuery('#nl-popup-container');
        layer.css("top", Math.max(0, ((jQuery(window).height() - jQuery(layer).outerHeight()) / 2) +
                jQuery(window).scrollTop()) + "px");
        overlay.show();
        layer.show();
        jQuery('body').addClass('stop-scrolling');
    }
    //]]>
</script>
