<style type="text/css">
    .success-page {
        font-size: 14px;
        color: #4d4d4d;
        padding: 22px 180px;
        border: 1px solid #cdcdcd;
        background: url(<?php echo $this->getSkinUrl('images/newsletter-success-bg.jpg') ?>) no-repeat right 95px top 6px;
        margin-top: 40px;
    }
    .success-page .page-title {
        font: 800 20px 'open sans';
        margin-bottom: 35px;
    }
    .success-page .p1 {
        line-height: 16px;
    }
    .success-page .p2 {
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .success-page button span span {
        width: 191px;
        font-size: 18px;
        font-weight: 600;
        height: 35px;
        line-height: 35px;
        padding: 0;
    }
    .success-page .p4 {
        margin-top: 30px;
        font-size: 12px;
        margin-bottom: 60px;
        line-height: 14px;
    }
    .success-page .p4 a {
        text-decoration: underline;
        color: #4d4d4d;
    }
</style>
<div class="success-page">
    <h2 class="page-title">Herzlich Willkommen zum MuT Newsletter</h2>
    <div class="page-content">
        <p class="p1">
            Sie sind nun korrekt zum MuT Newsletter angemeldet.<br><br>
            Der Gutschein ist bereits per E-Mail zu Ihnen unterwegs.
        </p>
        <p class="p2">
            Mit den besten Grüßen<br>
            Ihr MuT-Team
        </p>
        <p>
            <button type="button" title="zum MuT Shop" class="button" onclick="setLocation('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) ?>')"><span><span>zum MuT Shop</span></span></button>
        </p>
        <p class="p4">
            Sie können sich jederzeit abmelden. Ihre Daten werden vertraulich behandelt.<br>
            Lesen Sie unsere Hinweise zum <a href="<?php echo $this->getUrl('datenschutz') ?>" target="_blank">Datenschutz</a>.
        </p>
    </div>
</div>