<?php

//$obj = $this->getLayout()->createBlock('customtabs/screenshot');
$product = Mage::registry('current_product');


// print_r($obj->getScreenshots($product->getId()));
?>
<?php /* ?>
<?php if(count($obj->getScreenshots($product->getId()))>0): ?>
<div class="screenshot-block">

	<div class="prev-div"><a class="prev" href="#">&nbsp;</a></div>        
	<div class="anyClass">
	    <ul>
	    <?php
	    foreach ($obj->getScreenshots($product->getId()) as $key => $image):
	    ?>
	        <li><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)."media/screenshot". $image['image_path']; ?>" alt="someimage" width="300" height="250" /></li>
	    <?php 
	    endforeach;
	    ?>
	    </ul>
	</div>
	<div class="next-div"><a class="next" href="#">&nbsp;</a></div>
</div>
<?php endif; ?>

<script type="text/javascript">
<?php if(count($obj->getScreenshots($product->getId()))>0): ?>
	jQuery(function() {
	    jQuery(".anyClass").jCarouselLite({
	        btnNext: ".next",
	        btnPrev: ".prev",
	        visible: 4
	    });
	});
<?php endif; ?>
</script>
<?php */ ?>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<?php //if(count($obj->getScreenshots($product->getId()))>0): ?>
<?php
    $theme = $this->helper('ultimo');
    $sliderClasses = '';
    $gridClasses = '';

    $sliderId = "itemslider-featured-";
    $isResponsive = true; //IMPORTANT: enabled by default

    $breakpoints = '[0, 1], [320, 1], [480, 1], [768, 2], [960, 3], [1280, 3]'; //Set default breakpoints

    $showItems = 5; //Set default number of items


    //Slider initial delay
    $initDelay = 0;

    $imgWidth = 350; //Set default value

    //Image aspect ratio
    // if ($theme->getCfg('category/aspect_ratio'))
    // {
    //     $imgHeight = 0; //Keep aspect ratio - height will be calculated automatically based on width
    // }
    // else
    // {
    //     $imgHeight = $imgWidth; //Don't keep aspect ratio - height is the same as width
    // }

    //If param is set, it overrides default height and aspect ratio settings
    $imgHeight = 270;

    //Slider timeout. Set to enable automatic scrolling.
    
    $timeout = intval($theme->getCfg('product_slider/timeout'));
    

    $move = 0; //By default scroll all visible items


    $loop = $theme->getCfg('product_slider/loop');

    //Speed (arrows / touch swipe)
    $speed = intval($theme->getCfg('product_slider/speed'));

    //Speed (automatic scrolling / pagination)
    $autoSpeed = intval($theme->getCfg('product_slider/auto_speed'));

    //Pause slider on mouse hover
    $pause = $theme->getCfg('product_slider/pause');

    //Lazy loading
    $lazy = $theme->getCfg('product_slider/lazy');

    //Slider classes
    //--------------------------------------------------------------
    if($isResponsive)
    {
        $sliderClasses .= ' itemslider-responsive';
    }

    if ($_collectionSize == 1)
    {
        $sliderClasses .= ' single-item';
    }

    
    if ($showItems >= 8)
    {
        $gridClasses = ' size-xs';
    }
    elseif ($showItems >= 6)
    {
        $gridClasses = ' size-s';
    }


    $gridClasses .= ' centered';

    $gridClasses .= ' equal-height';
?>


<div class="itemslider-wrapper slider-arrows1 slider-arrows1-pos-top-right slider-pagination1">
    <div id="<?php echo $sliderId; ?>" class="itemslider<?php if($sliderClasses) echo $sliderClasses; ?> products-grid<?php if($gridClasses) echo $gridClasses; ?>">
    <?php foreach ($obj->getScreenshots($product->getId()) as $key => $image): ?>
        <div class="item">
        
            <div class="product-image-wrapper" style="max-width:<?php echo $imgWidth; ?>px;">
            	
            	<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)."media/screenshot". $image['image_path']; ?>" alt="someimage" width="350" height="270" />
                
            </div> <!-- end: product-image-wrapper -->
            
        </div>
    <?php endforeach; ?>
    </div> <!-- end: itemslider -->
</div> <!-- end: itemslider-wrapper -->
<script type="text/javascript">
//<![CDATA[
    jQuery(function($) {
        
        var owl = $('#<?php echo $sliderId; ?>');
        owl.owlCarousel({

        <?php if ($lazy): ?>
            lazyLoad: true,
        <?php endif; ?>

        <?php if(!$isResponsive): ?>
            responsive: false,
            items: <?php echo $showItems; ?>,
        <?php else: ?>
            itemsCustom: [ <?php echo $breakpoints; ?> ],
            responsiveRefreshRate: 50,
        <?php endif; ?>

        <?php if ($speed): ?>
            slideSpeed: <?php echo $speed; ?>,
        <?php endif; ?>

        <?php if ($autoSpeed): ?>
            paginationSpeed: <?php echo $autoSpeed; ?>,
        <?php endif; ?>

        <?php if ($move !== 1): ?>
            scrollPerPage: true,
        <?php endif; ?>

        <?php if ($timeout): ?>
            autoPlay: <?php echo $timeout; ?>,
        <?php endif; ?>

        <?php if ($pause): ?>
            stopOnHover: true,
        <?php endif; ?>

        <?php if ($loop): ?>
            rewindNav: true,
            rewindSpeed: 600,
        <?php else: ?>
            rewindNav: false,
        <?php endif; ?>

        <?php if ($pagination): ?>
            pagination: true,
        <?php else: ?>
            pagination: false,
        <?php endif; ?>

            navigation: true

        }); //end: owl

    });
//]]>
</script>
<?php //endif; ?>