<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                       style="border:1px solid #E0E0E0;">
                    <!-- [ header starts here] -->
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}"
                                                                         style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Guten Tag {{htmlescape var=$name}},</h1>

                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Sie haben in unserem {{var store.getFrontendName()}} folgendes in den Warenkorb gelegt, jedoch den Bestellvorgang nicht abgeschlossen Sehr gerne helfen wir Ihnen damit die Bestellung einfach und bequem abzuschließen..
                            </p>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                Oder gab es ein technisches Problem? Falls ja, so lassen Sie es uns bitte wissen und wir kümmern uns darum. Senden Sie uns bitte eine E-Mail an <a
                                    href="mailto:{{config path='trans_email/ident_support/email'}}"
                                    style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> oder rufen Sie uns an <span class="nobr">{{config path='general/store_information/phone'}}</span> (Montag-Freitag 8:00 bis 17:00 Uhr).
                                <br>Hier können Sie Ihren <a href="{{var url}}" style="color:#1E7EC8;">Warenkorb</a> wieder aufrufen.
                                {{depend couponcode}}
                                <br>Sie können diesen Gutschein-Code verwenden <b>{{var couponcode}}</b>
                                {{/depend}}
                                {{depend discount}}
                                Und erhalten einen Rabatt von {{var discount}} nur bis {{var todate}}
                                {{/depend}}
                                {{depend points}}
                                <br/>Derzeit hast du {{var points}} Punkte zur Verfügung.
                                {{/depend}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{block type='ebizmarts_abandonedcart/email_order_items' area='frontend'
                            template='ebizmarts_abandonedcart/email/order/items.phtml' quote=$quote url}}
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center><p style="font-size:12px; margin:0;">Vielen Dank – <strong>Ihr Markt+Technik Online-Shop-Team</strong></p></center>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div style="margin-top: 30px; margin-bottom:20px;"><a bgcolor="#EAEAEA"
                                                                                  style="background:#EAEAEA; text-align:center;  display:cell-block; color:black; border-radius: 10px; text-decoration:none; padding:22px; box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff; font-size:15px"
                                                                                  href="{{var url}}">Bestellung wiederherstellen
                                {{depend couponcode}} Und Gutscheincode einlösen {{/depend}}{{var couponcode}} {{depend
                                discount}} bekommen {{var discount}}% aus!{{/depend}}</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Sie möchten keine weiteren Warenkorb-E-Mail erhalten?<br/>
                            Dann können Sie sich <a href="{{var unsubscribeurl}}"
                                                       style="color:#1E7EC8;">hier</a> austragen.</p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
